#!/usr/bin/make -f

export GEM2DEB_TEST_RUNNER = --check-dependencies

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_clean:
	dh_auto_clean
	rm -rf doc

override_dh_auto_build:
	dh_auto_build
	# build documentation
	rdoc --main=README.adoc lib

override_dh_auto_install:
	dh_install
	dh_auto_install
	# remove asciidoctor-safe
	rm -f debian/asciidoctor/usr/bin/asciidoctor-safe
	# remove bundled jquery.js
	rm -f debian/asciidoctor-doc/usr/share/doc/asciidoctor-doc/html/js/jquery.js

override_dh_installchangelogs:
	dh_installchangelogs -O--buildsystem=ruby CHANGELOG.adoc
