Source: dce
Section: libs
Priority: extra
Maintainer: TI OMAP Developers <tiomap-dev@lists.launchpad.net>
Build-Depends: cdbs, debhelper (>= 7), pkg-config (>= 0.11.0),
               libtool, dh-autoreconf, quilt,
               libdrm-dev (>= 2.4.30-1ubuntu1+ti1.0),
               libx11-dev (>= 2:1.4.99.1-0ubuntu1),
               libdri2-dev (>= 1.0.2-0ubuntu2),
               libxext-dev,
               libxfixes-dev,
               xserver-xorg-dev,
               libwayland-dev
Standards-Version: 3.9.2
Homepage: https://gitorious.org/gstreamer-omap/libdce
Vcs-Git: git://gitorious.org/ubuntu-omap/dce.git

Package: libdce1
Section: libs
Architecture: armhf
Depends: ${shlibs:Depends},
         ${misc:Depends}
Replaces:  libdce0
Conflicts: libdce0
Description: OMAP4 DCE library
 A library to remotely invoke the HW accellerated codecs on IVA-HD
 via a syslink/rcm shim layer.

Package: libdce-dev
Section: libdevel
Architecture: armhf
Depends: ${shlibs:Depends},
         ${misc:Depends},
         pkg-config,
	 libdce1 (= ${binary:Version})
Description: OMAP4 DCE development files.
 Contains all the necessary header files and libs.
