Source: ti-opencl
Section: misc
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Priority: extra
Build-Depends: debhelper (>= 9),
         mesa-common-dev,
         binutils-dev,
         libsqlite3-dev,
         libffi-dev,
         zlib1g-dev,
         ti-ipc-dra7xx-dev,
         cmem-dev,
         pkg-config,
         check,
         libboost-dev,
         cmake,
         python,
         libtiulm-dev,
         ti-llvm-3.6,
         libloki-dev,
         gdbserver-c6x,
         firmware-am57xx-opencl-monitor,
         libelf-dev,
         libjson-c-dev,
         ti-c6000-cgt-v8.1.x-installer,
Standards-Version: 3.9.6
Homepage: http://git.ti.com/gitweb/?p=opencl/ti-opencl.git;a=summary
Vcs-Browser: http://git.ti.com/gitweb/?p=opencl/ti-opencl.git;a=summary
Vcs-Git: git://git.ti.com/opencl/ti-opencl.git

Package: ti-opencl
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libopencl1 (= ${binary:Version}),
         mesa-common-dev,
         ti-c6000-cgt-v8.1.x-installer
Conflicts: opencl-headers
Architecture: armhf
Description: OpenCL for TI Keystone
 OpenCL implementation for TI Keystone.

Package: libopencl1
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Architecture: armhf
Description: OpenCL for TI Keystone - runtime libraries
 OpenCL implementation for TI Keystone.

