
[Desktop Entry]
Encoding=UTF-8
Name=Oracle Java 9 Console
Comment=Oracle Java 9 Monitoring & Management Console
Exec=/usr/lib/jvm/java-9-oracle/bin/jconsole
Terminal=false
Type=Application
Icon=oracle_java9
Categories=Application;System;
