#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	git clone https://github.com/statropy/ti_msp430_python_tools
	cd ./ti_msp430_python_tools/python-msp430-tools ; python2.7 setup.py install --prefix=tmp

%:
	dh $@
