Source: debugss-mod-dkms
Section: partner/admin
Priority: optional
Maintainer: TI Keystone PPA <ti-keystone-ppa@list.ti.com>
Build-Depends: debhelper (>= 9), 
               dkms
Standards-Version: 3.9.5

Package: debugss-mod-dkms
Architecture: all
Multi-Arch: foreign
Depends: dkms (>= 1.95), ${misc:Depends}
Description: debugss-mod driver in DKMS format.
	TI debugss-mod driver in DKMS format.
