Source: ti-pru-software-v5.9
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 10)
 , ca-certificates
 , git
 , libssl-dev
Standards-Version: 4.5.1

Package: ti-pru-software-v5.9
Replaces: pru-software-support-package
Architecture: armhf
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
 , build-essential
Description: The PRU Software Support Package v5.9
 The PRU Software Support Package v5.9
