#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DISCIMAGE=/
export TARGET_PRODUCT=ti335x

%:
	ln -s ./targetfs/ti335x/lib/libGLESv2.so.1.14.3699939 ./targetfs/ti335x/lib/libGLESv2.so.1
	dh $@

override_dh_auto_install:
	dh_auto_install --destdir=./tmp/
