Source: tiomapconf
Section: debug
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, quilt
Standards-Version: 3.9.1
Homepage: https://github.com/omapconf/omapconf

Package: tiomapconf
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI omapconf debug utility
 tiomapconf is a utility that can be used on OMAP platforms to get visibility
 inside the OMAP configuration. 
