#!/usr/bin/make -f

#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
export DEB_CXXFLAGS_MAINT_APPEND = -fvisibility=hidden -fvisibility-inlines-hidden
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --with-cmake 

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build-qt5

override_dh_auto_configure:
	dh_auto_configure -- -DUSE_QT4=1 
	dh_auto_configure --builddirectory=build-qt5 

override_dh_auto_build:
	dh_auto_build
	dh_auto_build --builddirectory=build-qt5

override_dh_auto_install:
	dh_auto_install
	dh_auto_install --builddirectory=build-qt5

override_dh_install:
	dh_install --list-missing --fail-missing

