[Unit]
Description=BB WL18xx wlan0 Service
After=getty.target bluetooth.service generic-board-startup.service 

[Service]
ExecStart=/usr/bin/bb-wl18xx-wlan0

[Install]
WantedBy=multi-user.target

