#!/usr/bin/make -f
#DH_VERBOSE = 1

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh ${@} --buildsystem cmake --parallel

override_dh_install:
	dh_install --exclude=pcmanfm-qt.1 --fail-missing

override_dh_strip:
	dh_strip -ppcmanfm-qt --dbg-package=pcmanfm-qt-dbg
	dh_strip -plibfm-qt5-2 --dbg-package=libfm-qt5-dbg
