Source: galcore-headers
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6


Package: galcore-headers
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: galcore-headers for Vivante
 galcore-headers for Vivante 2d/3d
