[Unit]
Description=Bonescript server

[Service]
WorkingDirectory=/usr/local/lib/node_modules/bonescript
ExecStart=/usr/bin/nodejs-v0.10.x server.js
SyslogIdentifier=bonescript
