Source: sancloud-firmware
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.1

Package: sancloud-firmware
Architecture: armhf
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
Description: beagleboard.org customizations
 beagleboard.org customizations
