Source: freebasic
Section: devel
Priority: optional
Maintainer: Arend Lammertink <lamare@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dpkg-dev (>= 1.16.1~), build-essential, libncurses5-dev, libffi-dev, libgl1-mesa-dev, libx11-dev, libxext-dev, libxrender-dev, libxrandr-dev, libxpm-dev, libgpm-dev
Standards-Version: 3.9.3
Homepage: https://sourceforge.net/projects/fbc/
#Vcs-Git: git://git.debian.org/collab-maint/freebasic.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/freebasic.git;a=summary

Package: freebasic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Compiler for FreeBASIC
 Open-source, free, multi-platform BASIC compiler, with syntax similar
 MS-QuickBASIC (including the GFX statements), that adds new features
 such as pointers, unsigned data types, inline assembly, a pre-processor
 and many others.
