Source: ap-hotspot
Section: net
Priority: optional
Maintainer: Alin Andrei <webupd8@gmail.com>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.6
Homepage: https://github.com/hotice/AP-Hotspot
Vcs-Browser: https://github.com/hotice/AP-Hotspot

Package: ap-hotspot
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, dnsmasq, hostapd, iw, libnotify-bin, systemd
Description: Access Point Mode Hotspot
 .
 A script to create an infrastructure WiFi hotspot (access point mode) in Debian/Ubuntu that works with Android and Windows Phone devices.
