Source: bb-wl18xx-firmware
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6


Package: bb-wl18xx-firmware
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bc, bsdmainutils, coreutils, linux-firmware
Description: beagleboard.org wl18xx firmware
 wl18xx bluetooth firmware

