Source: uf2d
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:  debhelper (>= 9),
Standards-Version: 4.5.1
Homepage: https://github.com/beagleboard/uf2-linux

Package: uf2d
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: beagleboard.org uf2d
 beagleboard.org uf2d for beagleboard devices
