Source: bb-u-boot-am57xx-evm-rc
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 10)
 , bc,
 , bison
 , ca-certificates
 , flex
 , git
 , libssl-dev
Standards-Version: 4.5.1

Package: bb-u-boot-am57xx-evm-rc
Architecture: armhf
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
Description: beagleboard.org u-boot for am57xx_evm
 beagleboard.org u-boot for am57xx_evm MLO/u-boot.img

