Source: compton-conf
Section: x11
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends:
 cmake,
 debhelper (>= 9),
 libconfig-dev,
 libx11-dev,
 pkg-config,
 qttools5-dev (>= 5.3.2),
 qttools5-dev-tools (>= 5.3.2),
Standards-Version: 3.9.6
Homepage: https://github.com/lxde/compton-conf
#Vcs-Git: git://anonscm.debian.org/collab-maint/compton-conf.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/compton-conf.git;a=summary

Package: compton-conf-qt5
Architecture: any
Breaks:
 compton-conf,
Replaces:
 compton-conf,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Compton Configurator for Qt 
 Qt configuration tool for X composite manager
 .
 This package contain Compton Configurator.
