Source: umtp-responder
Section: misc
Priority: optional
Maintainer: DebianOnMobile Maintainers <debian-on-mobile-maintainers@alioth-lists.debian.net>
Uploaders: Arnaud Ferraris <arnaud.ferraris@gmail.com>, Federico Ceratto <federico@debian.org>
Standards-Version: 4.5.0
Build-Depends: debhelper-compat (=13)
Homepage: https://github.com/viveris/uMTP-Responder
Vcs-Git: https://salsa.debian.org/DebianOnMobile-team/umtp-responder.git
Vcs-Browser: https://salsa.debian.org/DebianOnMobile-team/umtp-responder
Rules-Requires-Root: no

Package: umtp-responder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight USB Media Transfer Protocol (MTP) responder daemon
 The uMTP-Responder allows files to be transferred to and from devices through
 the devices USB port.
