[Unit]
Description=Mount farm at boot

[Mount]
What=192.168.1.89:/mnt/tank/farm
Where=/mnt/farm
Options=vers=3
Type=nfs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
