#!/usr/bin/make -f
# -*- makefile -*-
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh  $@ --parallel --with=python2 --buildsystem=cmake --builddirectory=build

# Due to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=810990 we moved the
# xmlrpcpp includes to /usr/include/xmlrpcpp. As this is different to ROS
# upstream, we add the path to the cmake file, so all includes are found
# without the xmlrpcpp path as well.
override_dh_auto_configure:
	dh_auto_configure
	sed -i -e 's#set(_include_dirs "include")#set(_include_dirs "include;/usr/include/xmlrpcpp")#' build/utilities/xmlrpcpp/catkin_generated/installspace/xmlrpcppConfig.cmake

get-orig-source:
	uscan --verbose --force-download --repack --compress xz
