Source: wifidog-gateway
Section: net
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9),
               automake,
               dh-autoreconf
Standards-Version: 3.9.6
Homepage: https://github.com/wifidog/wifidog-gateway
Vcs-Browser: https://github.com/wifidog/wifidog-gateway
Vcs-Git: https://github.com/wifidog/wifidog-gateway

Package: wifidog-gateway
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: The Wifidog gateway daemon
 This package contains the Wifidog gateway daemon.
