[Unit]
Description=Create AP eth0 Bridge Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/create_ap -m bridge wlan0 eth0 BeagleBone BeagleBone
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
