Source: libpruio
Priority: extra
Maintainer: Thomas Freiherr <Thomas.Freiherr@gmx.net>
Build-Depends: debhelper (>= 9), dkms, dh-systemd (>= 10), autotools-dev, dh-python, python (>= 2.6.6-3), doxygen, graphviz, freebasic (>= 1.0.0), cmake (>= 2.8.3), am335x-pru-package, fbdoc (>= 1.0.0), device-tree-compiler, cmakefbc (>= 1.0.0)
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/DTJF/libpruio
Vcs-Git: git://github.com/DTJF/libpruio.git
Vcs-Browser: https://github.com/DTJF/libpruio
