#!/usr/bin/make -f

DEB_BUILD_OPTIONS=noautodbgsym

export C6X_C_DIR=/usr/share/ti/cgt-c6x/include/ 

override_dh_auto_clean:
	rm -rf ${CURDIR}/ulm/release
	rm -rf ${CURDIR}/release
	rm -rf ${CURDIR}/ncurses/bin
	rm -rf ${CURDIR}/ncurses/lib
	rm -rf ${CURDIR}/ncurses/include
	rm -rf ${CURDIR}/ncurses/ncurses-5.9
	rm -f dsptop.1.gz
	dh_auto_clean

override_dh_auto_build:
	make -C ${CURDIR} arm release man DEVICE=DRA7xx
	make -C ${CURDIR}/ulm clean release DEVICE=DRA7xx
	make -C ${CURDIR}/ulm dsp release DEVICE=DRA7xx
	make -C ${CURDIR}/ulm arm release DEVICE=DRA7xx XPORT_ONLY

override_dh_auto_test:

%:
	dh $@ 
