[Unit]
Description=BeagleBoard Install Modules
Before=ssh.service
ConditionFileIsExecutable=/usr/bin/bb-install-modules

[Service]
Type=oneshot
ExecStart=/usr/bin/bb-install-modules
ExecStartPost=/bin/systemctl disable bb_install_modules

[Install]
WantedBy=multi-user.target
