#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

project_dir=/opt/bb-code-server-next/app

code_server_version=3.12.0

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	mkdir -p ./tmp$(project_dir)/
	tar xf debian/code-server-$(code_server_version)-linux-armv7l.tar.gz -C ./tmp$(project_dir)/ --strip-components 1

%:
	dh $@

