Source: npm4-installer
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/rcn-ee/repos

Package: npm4-installer
Architecture: armhf
Pre-Depends: nodejs (>= 8.9.1)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: npm4 installer for beagleboard.org
 npm4 is a tool that is not broken like npm5.

