Source: cmem
Section: misc
Priority: optional
Maintainer:  TI Keystone PPA <ti-keystone-ppa@list.ti.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: cmem
Architecture: any
Depends: cmem-mod-dkms(>=4.00.02.10) , ${misc:Depends}
Description: cmem : User space continuous memory allocate library interface
