[Desktop Entry]
Version=1.12
Type=Application
Name=ts_calibrate
Comment=Touchscreen calibration for tslib
TryExec=ts_calibrate
Exec=ts_calibrate
Categories=Utility
Keywords=touchscreen
