Source: lxqt-runner
Section: x11
Priority: optional
Maintainer: Debian LXQt Maintainers <lxqt-debian@lists.lxde.org>
Uploaders:
 Alf Gaida <agaida@siduction.org>
Build-Depends:
 cmake (>= 3.0.2),
 debhelper (>= 9),
 libx11-dev,
 pkg-config,
 libkf5windowsystem-dev (>= 5.5.0),
 liblxqt0-dev (>= 0.9.0),
 liblxqt-globalkeys0-dev (>= 0.9.0),
 liblxqt-globalkeys-ui0-dev (>= 0.9.0),
 libqt5x11extras5-dev (>= 5.3.2),
 libqt5xdg-dev (>= 1.1.0),
 qtbase5-private-dev (>= 5.3.2),
 qtscript5-dev (>= 5.3.2),
 qttools5-dev (>= 5.3.2),
 qttools5-dev-tools (>= 5.3.2),
Standards-Version: 3.9.6
Homepage: https://github.com/lxde/lxqt-runner
#Vcs-Git: git://anonscm.debian.org/collab-maint/lxqt-runner.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/lxqt-runner.git;a=summary

Package: lxqt-runner
Architecture: any
Breaks: lxqt-runner-qt5 (<< 0.9.0)
Replaces: lxqt-runner-qt5 (<< 0.9.0)
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: LXQt program launcher
 Tool used to launch programs quickly by typing their names
 .
 This package contain LXQt runner.

Package: lxqt-runner-dbg
Architecture: any
Section: debug
Priority: extra
Breaks: lxqt-runner-qt5-dbg (<< 0.9.0)
Replaces: lxqt-runner-qt5-dbg (<< 0.9.0)
Depends:
 ${misc:Depends},
 lxqt-runner (= ${binary:Version}),
Description: LXQt program launcher (debug)
 Tool used to launch programs quickly by typing their names
 .
 This package contain the debugging symbols.

# ---- to be removed in 2016 ----

Package: lxqt-runner-qt5
Depends: lxqt-runner, ${misc:Depends}
Priority: extra
Section: oldlibs
Architecture: all
Description: lxqt-runner transitional package
 Empty package to facilitate upgrades, can be safely removed.

Package: lxqt-runner-qt5-dbg
Depends: lxqt-runner-dbg, ${misc:Depends}
Priority: extra
Section: oldlibs
Architecture: all
Description: lxqt-runner transitional package (dbg)
 Empty package to facilitate upgrades, can be safely removed.

