#!/usr/bin/make -f
include /usr/share/dpkg/default.mk

%:
	dh  $@ --parallel

override_dh_auto_install-indep:
	dh_auto_install --destdir=debian/tmp

get-orig-source:
	uscan --verbose --force-download --repack --compress xz

