Source: bbb.io-vsx-examples
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , ca-certificates
 , git
Standards-Version: 4.5.1
Homepage: https://github.com/beagleboard/vsx-examples

Package: bbb.io-vsx-examples
Architecture: armhf
Pre-Depends:
 ${misc:Pre-Depends}
 , adduser
 , git
 , nodejs
Depends:
 ${misc:Depends}
 , libgpiod2
 , python3-libgpiod
Description: bbb.io-vsx-examplesfor beagleboard.org
 BeagleBoard.org bbb.io-vsx-examples

