Source: bb-beagle-flasher
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.1
Homepage: https://github.com/rcn-ee/beagle-flasher

Package: bb-beagle-flasher
Architecture: armhf
Recommends: btrfs-progs, initramfs-tools
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd (>= 230), bash, dosfstools, coreutils, e2fsprogs, fdisk, mount, rsync, util-linux
Description: beagleboard.org beagle-flasher
 beagleboard.org beagle-flasher
