Source: beagle-flasher
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:  debhelper (>= 10),
Standards-Version: 4.5.1

Package: beagle-flasher
Architecture: armhf
Recommends: btrfs-progs, initramfs-tools
Depends: ${shlibs:Depends}, ${misc:Depends}, bash, dosfstools, coreutils, e2fsprogs, fdisk, mount, rsync, util-linux
Description: beagleboard.org beagle-flasher
 beagleboard.org beagle-flasher
