Source: generic-sys-mods
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.1

Package: generic-sys-mods
Architecture: armhf
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
 , systemd (>= 230)
 , cloud-guest-utils
 , e2fsprogs
 , bsdmainutils
 , net-tools
 , gzip
 , whiptail
 , parted
 , lua5.1
 , psmisc
 , iw
Description: System tweaks for the Generic Systems
 Various modifications to improve the performance or user experience.
