Package: hvcc
Version: 1.0.0-1
Architecture: amd64
Maintainer: Kurva Prashanth <krvprashanth@riseup.net>
Installed-Size: 8496
Pre-Depends: dpkg (>= 1.16.1), python3.7
Section: python
Priority: misc
Description: The heavy hvcc compiler for Pure Data patches. Updated to python3 and additional generators.
