[Unit] 
Description=Bela eMMC flasher 
After=networking-online.target 
 
[Service] 
ExecStart=/opt/Bela/bela_flash_emmc.sh 
 
[Install] 
WantedBy=default.target
