[Unit]
Description=Kill dhclient to prevent ifup eth0 blocking shutdown
After=network.target

[Service]
TimeoutStartSec=0
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/bin/killall dhclient

[Install]
WantedBy=multi-user.target
