#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#U-Boot
UB_TAG=v2022.04-bbb.io-am335x-am57xx
UB_CONFIG=am57xx_evm_defconfig

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	git clone -b $(UB_TAG) https://git.beagleboard.org/beagleboard/u-boot.git --depth=1
	make -C ./u-boot -j1 ARCH=arm CROSS_COMPILE= distclean 
	make -C ./u-boot -j1 ARCH=arm CROSS_COMPILE= $(UB_CONFIG)
	make -C ./u-boot -j3 ARCH=arm CROSS_COMPILE=

%:
	dh $@

