Source: qterminal
Section: x11
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends:
 cmake (>= 3.0.2),
 debhelper (>= 9),
 libqtermwidget5-0-dev (>= 0.6.0),
 libx11-dev,
 qtermwidget5-data (>= 0.6.0),
 qttools5-dev-tools (>= 5.3.2),
 qttools5-dev (>= 5.3.2),
 qtbase5-private-dev (>= 5.3.2),
 quilt,
Standards-Version: 3.9.6
Homepage: https://github.com/qterminal/qterminal
#Vcs-Git: git://anonscm.debian.org/collab-maint/qterminal.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/qterminal.git;a=summary

Package: qterminal
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}, 
 libqtermwidget5-0,
Replaces: qterminal-qt5
Description: QT-based multitab terminal emulator 
 Based on QTermWidget by e_k@users.sourceforge.net

# ---- to be removed in 2016 ----

Package: qterminal-qt5
Depends: qterminal, ${misc:Depends}
Priority: extra
Section: oldlibs
Architecture: all
Description: qterminal transitional package
 Empty package to facilitate upgrades, can be safely removed.

