#!/usr/bin/make -f
#export DH_VERBOSE=1


%:
	dh $@  --buildsystem cmake --parallel --with quilt


override_dh_auto_configure:
	dh_auto_configure -- -DUSE_QT5=1 -DUSE_SYSTEM_QXT=0 -DBUILD_DESIGNER_PLUGIN=0


maintainer-clean:
	$(RM) -r checkout
	$(RM) *.build
	$(RM) *.changes
	$(RM) *.deb
	$(RM) *.dsc
	$(RM) *.tar.gz
	$(RM) *.upload

checkout: maintainer-clean
	git clone --depth=1 --verbose https://github.com/qterminal/qterminal checkout; \
	cd checkout; \
	echo ""; \
	cp -a ../debian . ; \
        git log | head; \
	echo ""
