Source: libsigrokdecode
Priority: extra
Maintainer: Zoltan Gyarmati <mr.zoltan.gyarmati@gmail.com>
Build-Depends: debhelper (>= 10), dh-autoreconf, pkg-config (>= 0.22), libglib2.0-dev (>= 2.24.0), python3-dev (>= 3.2)
Standards-Version: 3.9.8
Section: libs
X-Python3-Version: >= 3.2
Homepage: http://sigrok.org/wiki/Libsigrokdecode
Vcs-Browser: https://git.zgyarmati.de/debian-packaging/libsigrokdecode-debian
Vcs-Git: https://git.zgyarmati.de/git/debian-packaging/libsigrokdecode-debian.git

Package: libsigrokdecode-dev
Section: libdevel
Conflicts: libsigrokdecode-dev (<< 0.3.0-2)
Replaces: libsigrokdecode0-dev
Architecture: any
Multi-Arch: same
Depends: libsigrokdecode3 (= ${binary:Version}), ${misc:Depends}, libglib2.0-dev (>= 2.24.0), python3-dev (>= 3.2)
Description: sigrok protocol decoding library - development files
 libsigrokdecode is a shared library which provides (streaming) protocol
 decoding functionality.
 .
 The protocol decoders are written in Python (>= 3.2).
 .
 This package contains the header files and other development files.

Package: libsigrokdecode3
Section: libs
Conflicts: libsigrokdecode2 (<< 0.4.1-1)
Replaces: libsigrokdecode2 (<< 0.4.1-1)
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: sigrok protocol decoding library - shared library
 libsigrokdecode is a shared library which provides (streaming) protocol
 decoding functionality.
 .
 The protocol decoders are written in Python (>= 3.2).
 .
 This package contains the shared library and the protocol decoders.

Package: libsigrokdecode2
Section: oldlibs
Architecture: all
Depends: libsigrokdecode3, ${misc:Depends}
Description: sigrok protocol decoding library - shared library
 This is a dummy transitional package that can be safely removed if no
 packages depend on it.
