#!/usr/bin/make -f

ifeq ($(DEB_BUILD_ARCH_OS), kfreebsd)
	DO_TEST = no
endif

%:
	dh $@ --with=autoreconf

override_dh_auto_configure:
#	# Don't use '--with-system-pgm' on recommendation from Michael
	dh_auto_configure -- --with-pgm --with-libsodium

override_dh_auto_test:
ifneq ($(DO_TEST), no)
	dh_auto_test
else
	-dh_auto_test
endif

override_dh_strip:
	dh_strip --dbg-package=libzmq4-dbg
