Source: bbb.io-xfce4-desktop
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: bbb.io-xfce4-desktop
Architecture: all
Depends:
 libxfce4ui-utils
 , thunar
 , xfce4-appfinder
 , xfce4-panel
 , xfce4-pulseaudio-plugin
 , xfce4-whiskermenu-plugin
 , xfce4-session
 , xfce4-settings
 , xfce4-terminal
 , xfconf
 , xfdesktop4
 , xfwm4
 , adwaita-qt
 , qt5ct
Description: BeagleBoard.org xfce4 desktop
 This package contains tasksel information for the BeagleBoard.org xfce4 desktop.
