Package: xenomai-runtime
Source: xenomai
Version: 3.0.x
Architecture: amd64
Maintainer: Xenomai <xenomai@xenomai.org>
Installed-Size: 800
Depends: libc6 (>= 2.17), libxenomai1, psmisc, netcat
Suggests: xenomai-kernel-source
Conflicts: xenomai
Replaces: xenomai
Section: devel
Priority: extra
Homepage: http://www.xenomai.org/
Description: Xenomai runtime utilities
 Xenomai is a real-time development framework cooperating with the Linux
 kernel in order to provide a pervasive, interface-agnostic, hard real-time
 support to user-space applications, seamlessly integrated into the GNU/Linux
 environment. Xenomai provides its own API and emulation layers ("skins") to
 make migration from other RTOS easier. Examples are: pSOS+, VxWorks, POSIX.
 .
 This package contains the runtime programs and the testsuite for the Xenomai
 realtime system.
