[Unit]
Description=BeagleBoard Generate Symlinks
Before=ssh.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/bb-symlinks

[Install]
WantedBy=multi-user.target
