#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	QT_SELECT=qt4 dh_auto_configure -- -DUSE_QT4=True
	QT_SELECT=qt5 dh_auto_configure --builddirectory=build-qt5 -- -DUSE_QT5=True

override_dh_auto_build:
	dh_auto_build
	dh_auto_build --builddirectory=build-qt5

override_dh_auto_install:
	dh_auto_install
	# Removing embedded jquery javascript library
	rm debian/tmp/usr/share/doc/libdbusmenu-qt-doc/jquery.js
	dh_auto_install --builddirectory=build-qt5
	# Removing embedded jquery javascript library
	rm debian/tmp/usr/share/doc/libdbusmenu-qt5-doc/jquery.js

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip -plibdbusmenu-qt5-2 --dbg-package=libdbusmenu-qt5-dbg
	dh_strip --remaining-packages --dbg-package=libdbusmenu-qt-dbg

override_dh_auto_test:
	# Skipping tests (can't test inside chroot)...
	:
