Source: bb-beagle-config
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:  debhelper (>= 9),
		cmake,
		git,
Standards-Version: 3.9.8
Homepage: https://github.com/SAtacker/beagle-config

Package: bb-beagle-config
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: beagleboard.org beagle-config
 beagleboard.org beagle-config for beagleboard devices
