
[Desktop Entry]
Encoding=UTF-8
Name=Oracle Java 9 VisualVM
Comment=Oracle Java 9 Monitoring & Management (VisualVM)
Exec=/usr/lib/jvm/java-9-oracle/bin/jvisualvm
Terminal=false
Type=Application
Icon=oracle_java9
Categories=Application;System;
