Source: c9-core-installer
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:  debhelper (>= 9),
		libpng-dev,
		git,
Standards-Version: 3.9.8
Homepage: https://github.com/rcn-ee/bb.org-cloud9-core

Package: c9-core-installer
Replaces: cloud9-installer
Architecture: armhf
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, ca-certificates, tmux, adduser
Description: c9-core-installer
 c9-core-installer for beagleboard.org

