#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export NODE_PATH := /opt/cloud9_bins/lib/node_modules
export PATH := /opt/cloud9_support/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

node_bin=/opt/cloud9_support/bin/node
npm_bin=/opt/cloud9_support/bin/npm
npm_bin_js=/opt/cloud9_support/lib/node_modules/npm/bin/npm-cli.js

nodejs_version=v6.17.1
npm_version=4.6.1

%:
	dh $@

override_dh_auto_configure:
	mkdir -p /opt/cloud9_support/
	tar xf ./debian/node-$(nodejs_version)-linux-armv7l.tar.xz -C /opt/cloud9_support/ --strip-components 1
	echo "cleanup"...
	rm -rf /opt/cloud9_support/include/node/openssl/archs/BSD-x86_64*/
	rm -rf /opt/cloud9_support/include/node/openssl/archs/VC-WIN*/
	rm -rf /opt/cloud9_support/include/node/openssl/archs/aix*/
	rm -rf /opt/cloud9_support/include/node/openssl/archs/darwin*/
	rm -rf /opt/cloud9_support/include/node/openssl/archs/linux-aarch64/
	rm -rf /opt/cloud9_support/include/node/openssl/archs/linux-elf/
	rm -rf /opt/cloud9_support/include/node/openssl/archs/linux-ppc*/
	rm -rf /opt/cloud9_support/include/node/openssl/archs/linux-x*/
	rm -rf /opt/cloud9_support/include/node/openssl/archs/linux*-s390x/
	rm -rf /opt/cloud9_support/include/node/openssl/archs/solaris*/
	echo "Remove Bundled npm"...
	rm -rf /opt/cloud9_support/lib/node_modules/npm
	rm -rf /opt/cloud9_support/bin/npm
	rm -rf /opt/cloud9_support/bin/npx
	echo "node --version"
	$(node_bin) --version
	tar xf ./debian/npm-$(npm_version).tgz -C /opt/cloud9_support/
	cd /opt/cloud9_support/package/ ; make install
	rm -rf /opt/cloud9_support/package/
	env | grep PATH
	echo "/opt/node-red/bin/node --version"
	$(node_bin) --version
	echo "/opt/node-red/bin/node /opt/node-red/bin/npm --version"
	$(node_bin) $(npm_bin) --version
	git clone -b 3.1.4056.git20171215 https://github.com/rcn-ee/core /opt/cloud9/
	mkdir -p ~/.c9/
	echo "build: [./scripts/install-sdk.sh]"
	echo 1 > ~/.c9/installed
	cd /opt/cloud9/ ; ./scripts/install-sdk.sh
	echo "move /opt/cloud9/ to ./tmp/opt/cloud9/"
	mkdir -p ./tmp/opt/cloud9_bins/
	mkdir -p ./tmp/opt/cloud9/
	mv /opt/cloud9_bins/* ./tmp/opt/cloud9_bins/
	mv /opt/cloud9/* ./tmp/opt/cloud9/

