#!/usr/bin/make -f

#export DH_VERBOSE = 1
export USE_QT5=1

%:
	dh ${@} --buildsystem cmake --parallel


override_dh_install:
	dh_install --list-missing --fail-missing

override_dh_strip:
	dh_strip --dbg-package=libqt5xdg-dbg
