Source: ardupilot-rover-3.3-pocket
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
	debhelper (>= 9),
	git,
	pkg-config,
	python-future,
	python-lxml,
	libiio-dev,
Standards-Version: 3.9.8

Package: ardupilot-rover-3.3-pocket
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ardupilot rover 3.3 pocket
 The ArduPilot project, rover 3.3 build for pocket
