#!/usr/bin/make -f
#export DH_VERBOSE=1


%:
	dh ${@} --buildsystem cmake --parallel


override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/obconf-qt


maintainer-clean:
	$(RM) -r checkout
	$(RM) -r backport
	$(RM) *.build
	$(RM) *.changes
	$(RM) *.deb
	$(RM) *.dsc
	$(RM) *.tar.gz
	$(RM) *.upload

checkout: maintainer-clean
	git clone --depth=1 git@github.com:lxde/obconf-qt.git checkout; \
	cd checkout; \
	cp -a ../debian .; \
	echo "";\
	git log | head; \
	echo ""; \

backport: checkout
	mv checkout backport
