
[Desktop Entry]
Encoding=UTF-8
Name=Oracle Java 9 Web Start
Comment=Oracle Java 9 Web Start
Exec=/usr/lib/jvm/java-9-oracle/bin/javaws %u
Terminal=false
Type=Application
Icon=oracle_java9
Categories=Application;Network;
MimeType=application/x-java-jnlp-file;
