Source: rcnee-access-point
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: rcnee-access-point
Architecture: all
Pre-Depends: connman, haveged
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: connman access point
 setup a defualt access point via connman for beagleboard.org

