Source: lxqt-common
Section: x11
Priority: optional
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders:
 Alf Gaida <agaida@siduction.org>,
 ChangZhuo Chen (陳昌倬) <czchen@gmail.com>,
Build-Depends:
 cmake (>= 2.8.11),
 debhelper (>= 9),
 libx11-dev,
 pkg-config,
 libkf5windowsystem-dev (>= 5.7.0),
 liblxqt0-dev (>= 0.9.0),
 libqt5x11extras5-dev (>= 5.3.2),
 libqt5xdg-dev (>= 1.2.0),
 qttools5-dev (>= 5.3.2),
 qttools5-dev-tools (>= 5.3.2),
Standards-Version: 3.9.6
Homepage: https://github.com/lxde/lxqt-common
Vcs-Git: git://anonscm.debian.org/pkg-lxqt/lxqt-common.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-lxqt/lxqt-common.git

Package: lxqt-common
Architecture: all
Breaks: lxqt-common-qt5 (<< 0.9.0)
Replaces: lxqt-common-qt5 (<< 0.9.0)
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Recommends: 
 lxqt-panel,
 oxygen-icon-theme,
Description: Common files for LXQt
 Some common files for LXQt:
   * autostart
   * graphis
   * themes
   * xsession
 .
 This Package contains common LXQt files.

# ---- to be removed in 2016 ----

Package: lxqt-common-qt5
Depends: lxqt-common, ${misc:Depends}
Priority: extra
Section: oldlibs
Architecture: all
Description: lxqt-common transitional package
 Empty package to facilitate upgrades, can be safely removed.
