Source: ros-pcl-msgs
Section: libdevel
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Thomas Moulard <thomas.moulard@gmail.com>,
           Jochen Sprickerhof <debian@jochen.sprickerhof.de>,
           Leopold Palomo-Avellaneda <leo@alaxarxa.net>
Build-Depends: debhelper (>= 9), ros-message-generation, catkin,
		python-setuptools (>= 0.6b3), python-all (>=2.6.6-3),
		libsensor-msgs-dev, libgeometry-msgs-dev, ros-message-runtime,
		libroscpp-core-dev, libstd-msgs-dev, dh-python
Standards-Version: 3.9.6
Homepage: http://wiki.ros.org/pcl_msgs
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-science/packages/ros/ros-pcl-msgs.git
Vcs-Git: git://anonscm.debian.org/debian-science/packages/ros/ros-pcl-msgs.git

Package: libpcl-msgs-dev
Architecture: all
Depends: ${misc:Depends}, ros-message-runtime, libsensor-msgs-dev
Description: C/C++ headers for PCL-related Robot OS Messages
 This package is part of Robot OS (ROS). It contains messages which
 provide the glue between the Point Cloud Library and ROS.
 .
 This package contains the generated C++ headers.

Package: python-pcl-msgs
Section: python
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-sensor-msgs
Description: Python code for PCL-related Robot OS Messages
 This package is part of Robot OS (ROS). It contains messages which
 provide the glue between the Point Cloud Library and ROS.
 .
 This package contains the generated Python package.

Package: cl-pcl-msgs
Section: lisp
Architecture: all
Depends: ${misc:Depends}, cl-sensor-msgs
Description: LISP code for PCL-related Robot OS Messages
 This package is part of Robot OS (ROS). It contains messages which
 provide the glue between the Point Cloud Library and ROS.
 .
 This package contains the generated LISP library.
