Source: ardupilot-copter-test
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
	debhelper (>= 9),
	pkg-config,
	python-future,
Standards-Version: 3.9.8

Package: ardupilot-copter-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ArduPilot Project
 The ArduPilot project
