Source: connman
Section: net
Priority: optional
Maintainer: Patrik Flykt <patrik.flykt@linux.intel.com>
Homepage: https://www.connman.net
Build-Depends: debhelper (>= 9),
               libglib2.0-dev,
               libdbus-1-dev,
               libgnutls28-dev,
               libreadline-dev,
               openconnect,
               openvpn,
               vpnc,
               iptables-dev,
               wpasupplicant,
               dh-systemd,
               dh-autoreconf
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/connman.git
Vcs-Git: git://anonscm.debian.org/collab-maint/connman.git

Package: connman-upstream
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: wpasupplicant, bluez, ofono|ofono-upstream, pacrunner, dundee-upstream, neard, connman-vpn|connman-upstream-vpn
Provides: connman
Replaces: network-manager, connman
Conflicts: network-manager, connman
Description: ConnMan daemon
 This unofficial package contains the Connection Manager (ConnMan) daemon
 .
 ConnMan, or Connection Manager, is a system level daemon that manages
 IPv4 and IPv6 network connections and the associated network devices.
 .
 ConnMan provides IPv4 and IPv6 connectivity via:
  * ethernet
  * WiFi, when wpa_supplicant is installed
  * Cellular, when oFono is installed
  * Bluetooth, when Bluez is installed
  * USB gadget/client devices
 .
 ConnMan implements DNS resolving and caching, DHCP clients for both IPv4 and
 IPv6, link-local IPv4 address handling and tethering (IP connection sharing)
 to clients via USB, ethernet, WiFi, cellular and Bluetooth.

Package: connman-upstream-dbus-autostart
Architecture: all
Depends: connman-upstream (=${Source-Version})
Replaces: connman-dbus-autostart
Conflicts: connman-dbus-autostart
Description: ConnMan daemon dbus autostart support file

Package: connman-upstream-vpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, connman-upstream(>=1.10)
Provides: connman-vpn
Replaces: connman-vpn
Conflicts: connman-vpn
Recommends: connman (=${Source-Version})
Description: ConnMan VPN daemon
 This unofficial package contains the ConnMan VPN daemon
 .
 ConnMan VPN daemon manages VPNs on behalf of connmand and start and stops
 various VPN client applications. The VPN daemon can also be run standalone
 without connmand.

Package: connman-upstream-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, connman-upstream(>=0.80)
Replaces: connman-client, connman(>=0.0)
Conflicts: connman-client, connman(>=0.0)
Description: ConnMan command line tools
 This unofficial package contains ConnMan command line client

Package: connman-upstream-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, connman-upstream, python
Replaces: connman-tools
Conflicts: connman-tools
Description: ConnMan command line tools
 This unofficial package contains ConnMan tools and test scripts

Package: connman-upstream-dev
Section: devel
Architecture: any
Depends: ${misc:Depends}, libglib2.0-dev(>=2.28), libdbus-1-dev(>=1.4)
Provides: connman-dev
Replaces: connman-dev
Conflicts: connman-dev
Description: ConnMan development files
 This unofficial package contains header files and pkgconfig support for
 developing ConnMan plugins.

Package: connman-upstream-doc
Section: doc
Architecture: any
Depends:
Replaces: connman-doc
Conflicts: connman-doc
Description: ConnMan documentation
 This unofficial package contains documentation of ConnMan APIs

Package: connman-upstream-vpn-doc
Section: doc
Architecture: any
Depends:
Replaces: connman-vpn-doc
Conflicts: connman-vpn-doc
Description: ConnMan VPN daemon documentation
 This unofficial package contains documentation of ConnMan VPN daemon APIs

