Source: node-nopt
Section: web
Priority: extra
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Jérémy Lal <kapouer@melix.org>
Build-Depends:
 debhelper (>= 8.0.0)
 , nodejs
 , dh-buildinfo
Standards-Version: 3.9.5
Homepage: https://github.com/isaacs/nopt
Vcs-Git: git://anonscm.debian.org/pkg-javascript/node-nopt.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-javascript/node-nopt.git

Package: node-nopt
Architecture: all
Depends:
 ${misc:Depends}
 , node-abbrev
 , nodejs
Description: Command-line option parser for Node.js
 Full featured option parser, with support for :
  * types (String, path, url, Number, Date, Boolean, NaN, Stream, Array)
  * error handling
  * abbreviations
  * shorthands
 .
 Node.js is an event-based server-side javascript engine.
