#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	mkdir -p /opt/node-red/
	wget --directory-prefix /opt/node-red/ https://nodejs.org/dist/latest-v10.x/node-v10.17.0-linux-armv7l.tar.xz
	tar xf /opt/node-red/node-v10.17.0-linux-armv7l.tar.xz -C /opt/node-red/ --strip-components 1
	rm -rf /opt/node-red/node-v10.17.0-linux-armv7l.tar.xz

