#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export NODE_PATH=/opt/node-red/lib/node_modules

export NODE_PATH

export PATH=/opt/node-red/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
https://unix.stackexchange.com/questions/11530/adding-directory-to-path-through-makefile

node_bin=/opt/node-red/bin/node
npm_bin=/opt/node-red/bin/npm

nodejs=v10.17.0

node_red_version=1.0.3

%:
	dh $@

override_dh_auto_configure:
	mkdir -p /opt/node-red/
	wget --directory-prefix /opt/node-red/ https://nodejs.org/dist/latest-v10.x/node-$(nodejs)-linux-armv7l.tar.xz
	tar xf /opt/node-red/node-$(nodejs)-linux-armv7l.tar.xz -C /opt/node-red/ --strip-components 1
	rm -rf /opt/node-red/node-$(nodejs)-linux-armv7l.tar.xz
	echo "cleanup"...
	rm -rf /opt/node-red/include/node/openssl/archs/BSD-x86_64*/
	rm -rf /opt/node-red/include/node/openssl/archs/VC-WIN*/
	rm -rf /opt/node-red/include/node/openssl/archs/aix*/
	rm -rf /opt/node-red/include/node/openssl/archs/darwin*/
	rm -rf /opt/node-red/include/node/openssl/archs/linux-aarch64/
	rm -rf /opt/node-red/include/node/openssl/archs/linux-elf/
	rm -rf /opt/node-red/include/node/openssl/archs/linux-ppc*/
	rm -rf /opt/node-red/include/node/openssl/archs/linux-x*/
	rm -rf /opt/node-red/include/node/openssl/archs/linux*-s390x/
	rm -rf /opt/node-red/include/node/openssl/archs/solaris*/
	rm -rf /opt/node-red/lib/node_modules/npm/changelogs/
	echo "node --version"
	$(node_bin) --version
	echo "npm --version"
	$(node_bin) $(npm_bin) --version
	env | grep PATH
	
	env | grep PATH
	echo "Fake Install: node-red@$(node_red_version)"
	TERM=dumb $(node_bin) $(npm_bin) install -g --unsafe-perm=true --loglevel=error --arch=arm --prefix /tmp node-red@$(node_red_version)
	cp -v debian/use-systemd.diff /tmp/lib/node_modules/node-red/
	cd /tmp/lib/node_modules/node-red/
	ls -lha /tmp/lib/node_modules/node-red/
	patch -p1 < /tmp/lib/node_modules/node-red/use-systemd.diff
	TERM=dumb $(node_bin) $(npm_bin) install systemd@0.3.1
	ls -lha ./node_modules/
	TERM=dumb $(node_bin) $(npm_bin) pack
	cd -
	echo "Real Install: node-red@$(node_red_version)"
	TERM=dumb $(node_bin) $(npm_bin) install -g /tmp/lib/node_modules/node-red/*.tgz --unsafe-perm=true --loglevel=error --arch=arm --prefix /opt/node-red --no-save
	echo "move /opt/node-red/ to ./tmp/opt/node-red/"
	mkdir -p ./tmp/opt/node-red/
	mv /opt/node-red/* ./tmp/opt/node-red/

