Source: qupzilla
Section: web
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9),
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qttools5-dev-tools,
               qtscript5-dev,
               libqt5webkit5-dev,
               libssl-dev,
               pkg-config,
Standards-Version: 3.9.6
Homepage: http://www.qupzilla.com
Vcs-Git: git://github.com/nowrep/QupZilla.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/qupzilla.git;a=summary

Package: qupzilla
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Web browser based on QtWebKit
 QupZilla is a new and very fast World Wide Web Browser
 which uses Qt Framework and its QtWebKit rendering core.
 It is a lightweight browser with some advanced functions
 like integrated AdBlock, Search Engines Manager, Theming
 support, Speed Dial and SSL Certificate manager.
 .
 http://www.qupzilla.com
