[Unit]
Description=Lock/protect filesystems
Documentation=file:/usr/share/doc/fsprotect/README.Debian
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
Restart=no
TimeoutSec=30s
ExecStart=/etc/init.d/fsprotect start
ExecStop=/etc/init.d/fsprotect stop

[Install]
WantedBy=sysinit.target

