Source: mpm
Section: admin
Priority: extra
Maintainer: Hao Zhang <hzhang@ti.com>
Build-Depends: libdaemon-dev, linux-headers-keystone, mpm-transport, debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Vcs-Git: git://git.ti.com/keystone-linux/multi-proc-manager.git
Vcs-Browser: http://git.ti.com/cgit/cgit.cgi/keystone-linux/multi-proc-manager.git

Package: mpm
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi-Processor Manager for TI Keystone
 The multi-proc manager (MPM) provides services to load, run, and manage slave
 processors.
