Source: libusbgx
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:  dh-autoreconf | debhelper (>= 9.20160403~) | debhelper-compat,
		libconfig-dev,
Standards-Version: 4.5.1
Homepage: https://github.com/linux-usb-gadgets/libusbgx

Package: libusbgx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: beagleboard.org libusbgx
 beagleboard.org libusbgx for beagleboard devices
