Package: libxenomai1
Source: xenomai
Version: 3.0.12
Architecture: amd64
Maintainer: Xenomai <xenomai@xenomai.org>
Installed-Size: 456
Depends: libc6 (>= 2.17)
Suggests: xenomai-kernel-source
Conflicts: xenomai
Replaces: xenomai
Section: libs
Priority: extra
Homepage: http://www.xenomai.org/
Description: Shared libraries for Xenomai
 Xenomai is a real-time development framework cooperating with the Linux
 kernel in order to provide a pervasive, interface-agnostic, hard real-time
 support to user-space applications, seamlessly integrated into the GNU/Linux
 environment. Xenomai provides its own API and emulation layers ("skins") to
 make migration from other RTOS easier. Examples are: pSOS+, VxWorks, POSIX.
 .
 This package contains the shared libraries.
 .
 Compiled with the following options.
   --prefix=/usr
   --includedir=/usr/include/xenomai
   --mandir=/usr/share/man
   --with-testdir=/usr/lib/xenomai/testsuite
   --enable-smp
   --build
   x86_64-linux-gnu
