#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

confflags=--prefix=/usr \
          PLATFORM=DRA7XX
          KERNEL_INSTALL_DIR=/lib/modules/4.1.13-ti-r36/kernel/

%:
	dh $@ --with autoreconf

export EXTRA_LIB=-lpthread

override_dh_auto_configure:
	./configure $(confflags)

override_dh_strip:
	dh_strip --dbg-package=ti-ipc-dra7xx-dbg
