Source: dk-hackaday-2021
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.1

Package: dk-hackaday-2021
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, wget, python3-evdev, unzip
Description: dk-hackaday-2021
 dk-hackaday-2021
