[Unit]
Description=BeagleBoard.org USB gadgets
After=usb-gadget.target
ConditionFileIsExecutable=/usr/bin/bb-start-usb-gadgets

[Service]
Type=forking
ExecStartPre=/sbin/modprobe libcomposite
ExecStart=/usr/bin/bb-start-usb-gadgets

[Install]
WantedBy=multi-user.target
