#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

confflags=--prefix=/usr \
          PLATFORM=DRA7XX \
          AF_RPMSG=41

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	./configure $(confflags)

override_dh_strip:
	dh_strip --dbg-package=ti-ipc-dra7xx-dbg
