Source: ti-c6000-cgt-v8.3
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9),
               lsb-release,
               wget
Standards-Version: 3.9.6
Homepage: http://www.ti.com/tool/download/C6000-CGT-8-3


Package: ti-c6000-cgt-v8.3
Replaces: ti-c6000-cgt-v8.2.x-installer
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI TMS320C6000 C/C++ CODE GENERATION TOOLS
 TI TMS320C6000 C/C++ CODE GENERATION TOOLS

