#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_BUILD_OPTIONS=noautodbgsym

wfile="ti_cgt_c6000_8.3.2_armlinuxa8hf_busybox_installer.sh"

%:
	dh $@

override_dh_auto_configure:
	mkdir -p ./tmp/ ; chmod +x ./debian/$(wfile) ; ./debian/$(wfile) --prefix ./tmp/ --temp `mktemp -d`
