Source: bb-johnny-five-installer
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/rcn-ee/repos

Package: bb-johnny-five-installer
Architecture: armhf
Pre-Depends: nodejs (>= 8.11.0)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: johnny-five installer for beagleboard.org
 Johnny-Five is the JavaScript Robotics & IoT Platform.

