Source: node-osenv
Section: web
Priority: extra
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Jérémy Lal <kapouer@melix.org>
Build-Depends:
 debhelper (>= 8.0.0)
 , nodejs
 , dh-buildinfo
Standards-Version: 3.9.5
Homepage: https://github.com/isaacs/osenv
Vcs-Git: git://anonscm.debian.org/pkg-javascript/node-osenv.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-javascript/node-osenv.git

Package: node-osenv
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
Description: Environment settings lookup module for Node.js
 node-osenv looks for hostname, user, prompt, tmpdir, home, path,
 editor, shell in environment variables, utilities like hostname or
 whoami, with appropriate default values.
 It supports the same platforms as Node.js does.
 .
 Node.js is an event-based server-side javascript engine.
