Source: ardupilot-rover-blue
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
	debhelper (>= 9),
	git,
	pkg-config,
	python-future,
	python-lxml,
	libiio-dev,
Standards-Version: 3.9.8

Package: ardupilot-rover-blue
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ardupilot rover blue
 The ArduPilot project, rover build for blue
