Source: ros-laser-geometry
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Thomas Moulard <thomas.moulard@gmail.com>,  
           Jochen Sprickerhof <debian@jochen.sprickerhof.de>,
           Leopold Palomo-Avellaneda <leo@alaxarxa.net>
Build-Depends: debhelper (>= 9), catkin (>> 0.6.16-2), libangles-dev, ros-cmake-modules, libroscpp-dev, libsensor-msgs-dev, libtf-dev, libtf2-dev, libboost-system-dev, libboost-thread-dev, libeigen3-dev, python-all, dh-python
Standards-Version: 3.9.6
Section: libs
Homepage: http://wiki.ros.org/laser_geometry
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-science/packages/ros/ros-laser-geometry.git
Vcs-Git: git://anonscm.debian.org/debian-science/packages/ros/ros-laser-geometry.git

Package: liblaser-geometry-dev
Section: libdevel
Architecture: any
Depends: liblaser-geometry0d (= ${binary:Version}), ${misc:Depends}, libangles-dev, ros-cmake-modules,libroscpp-dev, libsensor-msgs-dev, libtf-dev, libtf2-dev, libboost-system-dev, libboost-thread-dev, libeigen3-dev
Description: Robot OS laser geometry package - development files
 This package is part of Robot OS (ROS). It contains a class for
 converting from a 2D laser scan as defined by sensor_msgs/LaserScan
 into a point cloud as defined by sensor_msgs/PointCloud or
 sensor_msgs/PointCloud2. In particular, it contains functionality to
 account for the skew resulting from moving robots or tilting laser
 scanners.
 .
 This package contains the development files.

Package: liblaser-geometry0d
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: Robot OS laser geometry package
 This package is part of Robot OS (ROS). It contains a class for
 converting from a 2D laser scan as defined by sensor_msgs/LaserScan
 into a point cloud as defined by sensor_msgs/PointCloud or
 sensor_msgs/PointCloud2. In particular, it contains functionality to
 account for the skew resulting from moving robots or tilting laser
 scanners.
 .
 This package contains the library itself.

Package: python-laser-geometry
Section: python
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-genpy, python-std-msgs
Description: Robot OS laser geometry package - Python bindings
 This package is part of Robot OS (ROS). It contains a class for
 converting from a 2D laser scan as defined by sensor_msgs/LaserScan
 into a point cloud as defined by sensor_msgs/PointCloud or
 sensor_msgs/PointCloud2. In particular, it contains functionality to
 account for the skew resulting from moving robots or tilting laser
 scanners.
 .
 This package contains the Python bindings.
