Source: ipumm-dra7xx-installer
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://arago-project.org/git/meta-ti.git?p=meta-ti.git;a=blob;f=recipes-bsp/ipumm-fw/ipumm-fw_git.bb;hb=HEAD


Package: ipumm-dra7xx-installer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Firmware for IPU for supporting Accelerated MM decode and encode
 Firmware for IPU for supporting Accelerated MM decode and encode

