#!/usr/bin/make -f
#export DH_VERBOSE=1


%:
	dh ${@} --buildsystem cmake --parallel


override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/lxqt-powermanagement

override_dh_strip:
	dh_strip --dbg-package=lxqt-powermanagement-dbg


maintainer-clean:
	$(RM) -r checkout
	$(RM) *.build
	$(RM) *.changes
	$(RM) *.deb
	$(RM) *.dsc
	$(RM) *.tar.gz
	$(RM) *.upload

checkout: maintainer-clean
	git clone --depth=1 git://github.com/lxde/lxqt-powermanagement.git checkout; \
	cd checkout; \
	cp -a ../debian .; \
	echo ""; \
	git log | head; \
	echo ""; 
