Source: beagleconnect
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:  debhelper (>= 10),
		ca-certificates,
		git,
		libbluetooth-dev,
		pkg-config,
Standards-Version: 4.5.1

Package: beagleconnect
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, wpan-tools
Description: beagleboard.org beagleconnect
 beagleboard.org beagleconnect

