Source: liblxqt-mount
Section: libs
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends:
 cmake,
 debhelper (>= 9),
 libx11-dev,
 pkg-config,
 qttools5-dev (>= 5.3.2),
 qttools5-dev-tools (>= 5.3.2),
Standards-Version: 3.9.6
Homepage: https://github.com/lxde/liblxqt-mount
#Vcs-Git: git://anonscm.debian.org/collab-maint/liblxqt-mount.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/liblxqt-mount.git;a=summary

Package: liblxqtmount-qt5-0
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libqt5xdg1,
Description: Handling for removable media/devices in LXQt
 .
 This package provides the shared library.

Package: liblxqtmount-qt5-0-dev
Architecture: any
Section: libdevel
Depends:
 ${misc:Depends},
 liblxqtmount-qt5-0 (= ${binary:Version}),
Description: Handling for removable media/devices in LXQt (dev files)
 Library used to manage removable devices for LXDE-Qt
 .
 This package provides the development files.

Package: liblxqtmount-qt5-0-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends:
 ${misc:Depends},
 liblxqtmount-qt5-0 (= ${binary:Version}),
Description: Handling for removable media/devices in LXQt (debug symbols)
 Library used to manage removable devices for LXDE-Qt
 .
 This package provides the debugging symbols

