Source: ti-libaet
Section: libs
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Priority: extra
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               ti-c6000-cgt-v8.2.x-installer,
Standards-Version: 3.9.6
Homepage: http://arago-project.org/git/?p=meta-ti.git;a=blob;f=recipes-ti/ctoolslib/libaet_git.bb;hb=HEAD
Vcs-Browser: http://git.ti.com/gitweb/?p=sdo-emu/ctoolslib.git;a=summary
Vcs-Git: git://git.ti.com/sdo-emu/ctoolslib.git

Package: ti-libaet
Section: libs
Architecture: armhf
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: TI Emulation CTools AET library
 The AETLIB library provides programmatic access to the Advanced 
 Event Triggering capability on C6x processor cores

