Source: pdk-keystone2
Section: partner/admin
Priority: extra
Maintainer: TI Keystone PPA <ti-keystone-ppa@list.ti.com>
Build-Depends: libdaemon-dev, debhelper (>= 9)
Standards-Version: 3.9.5

Package: pdk-keystone2
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI Keystone Package Development Kit
 The pdk-keystone provides software development kit on 
 Texas Instruments Keystone devices.
