#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dos2unix -k official_inis/WL1835MOD_INI_C2PC.ini
	dos2unix -k official_inis/WL1835MOD_INI_C2PC.ini
	dos2unix -k official_inis/WL1835MOD_INI.ini
	dos2unix -k official_inis/WL1837MOD_INI_FCC_CE.ini
	dos2unix -k official_inis/WL1837MOD_INI_FCC_CE_JP.ini
	dos2unix -k official_inis/WL8_COB_INI.ini
	dos2unix -k official_inis/WL8_TESTING_INI.ini
	dh $@
