Source: bb-doc-bone101-jekyll
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: bb-doc-bone101-jekyll
Architecture: all
Depends:
    bonescript,
    ${misc:Depends}
Section: libs
Description: transitional dummy package for bone101
 This is a transitional dummy package. It can safely be removed.

