#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh ${@} --buildsystem cmake --parallel --with quilt


override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/lxqt-panel

override_dh_strip:
	dh_strip --dbg-package=lxqt-panel-dbg


maintainer-clean:
	$(RM) -r checkout
	$(RM) -r backport
	$(RM) *.build
	$(RM) *.changes
	$(RM) *.deb
	$(RM) *.dsc
	$(RM) *.tar.gz
	$(RM) *.upload

checkout: maintainer-clean
	git clone git://github.com/lxde/lxqt-panel.git checkout; \
	cd checkout; \
	cp -a ../debian .; \
	echo ""; \
	git log -1 | head; \
	echo ""; 

backport: checkout
	mv checkout backport
