Source: bb-npm-installer
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/rcn-ee/repos

Package: bb-npm-installer
Architecture: all
Pre-Depends: nodejs, npm, nodejs-legacy
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NPM Updater for beagleboard.org
 NPM updater script...

