Source: omap5-cpu-pm
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
Standards-Version: 4.5.1
Homepage: https://github.com/mvduin/omap5-cpu-pm

Package: omap5-cpu-pm
Architecture: armhf
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
Description: Utility for displaying/changing OMAP5/AM57xx CPU power management registers
 Utility for displaying/changing OMAP5/AM57xx CPU power management registers
