#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh ${@} --buildsystem cmake --parallel


override_dh_install:
	dh_install --list-missing --fail-missing

override_dh_strip:
	dh_strip --dbg-package=libqt5xdg-dbg


maintainer-clean:
	$(RM) -r checkout
	$(RM) *.build
	$(RM) *.changes
	$(RM) *.deb
	$(RM) *.dsc
	$(RM) *.tar.gz
	$(RM) *.upload

checkout: maintainer-clean
	git clone --depth 1 git://github.com/lxde/libqtxdg.git checkout; \
	cd checkout; \
	cp -a ../debian .; \
	echo "";\
	git log | head; \
	echo ""
	
symbols:
	find . -name symbols | xargs sed 's/ \(_.*\) \(.*\)/ (c++)"\1" \2/' | c++filt | uniq > debian/mangled
