Source: bb-cape-overlays
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: bb-cape-overlays
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, device-tree-compiler
Description: Device tree overlays for Beaglebone.
 Device tree overlays for Beaglebone /lib/firmware/

