Source: gcp-demo
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: gcp-demo
Architecture: all
Pre-Depends: ca-certificates, wget, xz-utils
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs, upm
Description: gcp-demo
 gcp-demo

