Source: libuio
Priority: extra
Maintainer: Benedikt Spranger <b.spranger@linutronix.de>
Build-Depends: debhelper (>= 7.0.50~), dh-autoreconf, autotools-dev, libglib2.0-dev
Standards-Version: 3.9.6
Section: libs
Vcs-Git: git://git.linutronix.de/projects/libUIO.git

Package: libuio-dev
Section: libdevel
Multi-Arch: same
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libuio2 (= ${binary:Version}),
	 libglib2.0-dev,
	 ${misc:Depends}
Description: Userspace IO helper library
 A small Userspace IO driver helper library. (development files)

Package: libuio2
Section: libs
Multi-Arch: same
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
	 libglib2.0-dev,
	 texinfo,
	 ${misc:Depends}
Description: Userspace IO helper library
 A small Userspace IO driver helper library.

Package: lsuio
Multi-Arch: foreign
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: list Userspace IO devices
 A small example Application using the Userspace IO helper library.
