Source: bb-bonescript-installer-beta
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/rcn-ee/repos

Package: bb-bonescript-installer-beta
Architecture: all
Depends:
    bonescript,
    ${misc:Depends}
Section: libs
Description: transitional dummy package for bonescript
 This is a transitional dummy package. It can safely be removed.

