Source: doc-seeed-bbgw-getting-started
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/Seeed-Studio/beaglebone-getting-started


Package: doc-seeed-bbgw-getting-started
Architecture: all
Pre-Depends: xz-utils
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: doc-seeed-bbgw-getting-started
 doc-seeed-bbgw-getting-started

