Source: beagleconnect-msp430
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 10)
 , ca-certificates
 , git
 , python2-minimal
Standards-Version: 4.5.1

Package: beagleconnect-msp430
Architecture: armhf
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
 , python2-minimal
 , python-tk
Description: beagleboard.org beagleconnect msp430 tools
 beagleboard.org beagleconnect msp430 tools
