Source: ros-pcl-conversions
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Thomas Moulard <thomas.moulard@gmail.com>,
           Jochen Sprickerhof <debian@jochen.sprickerhof.de>,
           Leopold Palomo-Avellaneda <leo@alaxarxa.net>
Build-Depends: debhelper (>= 9), catkin (>> 0.6.16-2), libpcl-msgs-dev, libroscpp-dev, libsensor-msgs-dev, ros-cmake-modules, libpcl-dev, libeigen3-dev
Standards-Version: 3.9.6
Section: libdevel
Homepage: http://wiki.ros.org/pcl_conversions
Vcs-Git: git://anonscm.debian.org/debian-science/packages/ros/ros-pcl-conversions.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-science/packages/ros/ros-pcl-conversions.git

Package: libpcl-conversions-dev
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, libroscpp-core-dev, libstd-msgs-dev, libpcl-msgs-dev, libsensor-msgs-dev, libstd-msgs-dev, libeigen3-dev, libpcl-dev
Description: Robot OS library to convert from/to PCL data types
 This package is part of Robot OS (ROS). It provides conversions between
 PCL  (Point Cloud Library) data types and ROS message types
