Source: libsysstat
Section: libs
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends:
 cmake,
 debhelper (>= 9),
 pkg-config,
 qttools5-dev (>= 5.3.2),
 qttools5-dev-tools (>= 5.3.2),
Standards-Version: 3.9.6
Homepage: https://github.com/lxde/libsysstat
#Vcs-Git: git://anonscm.debian.org/collab-maint/libsysstat.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/libsysstat.git;a=summary

Package: libsysstat-qt5-0
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Qt-based interface to system statistics
 SysStat is a Qt-based interface to system statistics.
 .
 This package contain the shared library.

Package: libsysstat-qt5-0-dev
Architecture: any
Section: libdevel
Depends:
 ${misc:Depends},
 libsysstat-qt5-0 (= ${binary:Version}),
Description: Qt-based interface to system statistics (dev)
 SysStat is a Qt-based interface to system statistics.
 .
 This package contain the development files.

Package: libsysstat-qt5-0-dbg
Architecture: any  
Multi-arch: same
Section: debug
Priority: extra
Depends:
 ${misc:Depends},
 libsysstat-qt5-0 (= ${binary:Version}),
Description: Qt-based interface to system statistics (debug)
 SysStat is a Qt-based interface to system statistics.
 .
 This package contain the debugging symbols.

