Source: bonescript
Section: libs
Priority: extra
Maintainer: Jason Kridner <jdk@ti.com>
Build-Depends: debhelper (>=9),
               nodejs (>= 6.13.0)
Standards-Version: 3.9.6
Homepage: https://beagleboard.org/bonescript
Vcs-Git: git://github.com/beagleboard/bonescript.git
Vcs-Browser: http://github.com/beagleboard/bonescript

Package: bonescript
Architecture: any
Pre-Depends: bone101
Depends: ${misc:Depends}, nodejs (>= 6.13.0)
Description: JavaScript library for BeagleBone
 JavaScript library for BeagleBone with interactive
 web server including browser-based calls.

