[Unit]
Description=Bonescript server

[Service]
WorkingDirectory=/usr/local/lib/node_modules/bonescript
ExecStart=/usr/bin/nodejs server.js
SyslogIdentifier=bonescript
