Source: lxqt-admin
Section: x11
Priority: optional
Maintainer: Debian LXQt Maintainers <lxqt-debian@lists.lxde.org>
Uploaders:
 Alf Gaida <agaida@siduction.org>
Build-Depends:
 cmake (>= 3.0.2),
 debhelper (>= 9),
 liboobs-1-dev,
 libx11-dev,
 pkg-config,
 libkf5windowsystem-dev (>= 5.4.0),
 liblxqt0-dev (>= 0.9.0),
 libqt5x11extras5-dev (>= 5.3.2),
 libqt5xdg-dev (>= 1.0.0),
 qttools5-dev (>= 5.3.2),
 qttools5-dev-tools (>= 5.3.2),
Standards-Version: 3.9.6
Homepage: https://github.com/lxde/lxqt-admin
#Vcs-Git: git://anonscm.debian.org/collab-maint/lxqt-admin.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/lxqt-admin.git;a=summary

Package: lxqt-admin
Architecture: any
Breaks: lxqt-admin-qt5 (<< 0.9.0)
Replaces: lxqt-admin-qt5 (<< 0.9.0)
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Admin tools for LXQt
 Admin tools for LXQt, as of now:
 * lxqt-admin-time
 * lxqt-admin-user
 .
 This package contain the LXQt Admin Tools.

Package: lxqt-admin-dbg
Architecture: any
Section: debug
Priority: extra
Breaks: lxqt-admin-qt5-dbg (<< 0.9.0)
Replaces: lxqt-admin-qt5-dbg (<< 0.9.0)
Depends:
 ${misc:Depends},
 lxqt-admin (= ${binary:Version}),
Replace: lxqt-admin-qt5-dbg
Description: Admin tools for LXQt (debug)
 Admin tools for LXQt, as of now:
 * lxqt-admin-time
 * lxqt-admin-user
 .
 This package provides the debugging symbols.

# ---- to be removed in 2016 ----

Package: lxqt-admin-qt5
Depends: lxqt-admin, ${misc:Depends}
Priority: extra
Section: oldlibs
Architecture: all
Description: lxqt-admin transitional package
 Empty package to facilitate upgrades, can be safely removed.

Package: lxqt-admin-qt5-dbg
Depends: lxqt-admin-dbg, ${misc:Depends}
Priority: extra
Section: oldlibs
Architecture: all
Description: lxqt-admin transitional package (dbg)
 Empty package to facilitate upgrades, can be safely removed.

