Source: bb-beagle-config
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: 
 debhelper (>= 9)
 , ca-certificates
 , cmake
 , git
Standards-Version: 3.9.8
Homepage: https://github.com/SAtacker/bb-config

Package: bb-beagle-config
Architecture: armhf
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
Description: beagleboard.org bb-config
 beagleboard.org bb-config for beagleboard devices
