Source: lxqt-about
Section: x11
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends:
 cmake,
 debhelper (>= 9),
 libx11-dev,
 pkg-config,
 liblxqt-qt5-0-dev (>= 0.8.0),
 libqt5x11extras5-dev (>= 5.3.2),
 libqt5xdg-dev (>= 1.0.0),
 qttools5-dev (>= 5.3.2),
 qttools5-dev-tools (>= 5.3.2),
Standards-Version: 3.9.6
Homepage: https://github.com/lxde/lxqt-about
#Vcs-Git: git://anonscm.debian.org/collab-maint/lxqt-about.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/lxqt-about.git;a=summary

Package: lxqt-about-qt5
Architecture: any
Breaks:
 lxqt-about,
Replaces:
 lxqt-about,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: About screen for LXQt
 The about screen for LXQt
 .
 This package contain the LXQt about screen.
