[Unit]
Description=jekyll autorun
ConditionPathExists=|/var/lib/cloud9

[Service]
WorkingDirectory=/var/lib/cloud9
ExecStart=/usr/bin/jekyll build --destination bone101 --watch
SyslogIdentifier=jekyll-autorun
CPUAccounting=true
CPUQuota=10%
MemoryAccounting=true
MemoryLimit=50M

[Install]
WantedBy=multi-user.target
