[Unit]
Description=BB WL18xx wlan0 Service
After=local-fs.target

[Service]
ExecStart=/usr/bin/bb-wl18xx-wlan0
Type=forking

[Install]
WantedBy=multi-user.target

