Source: seeed-wificonfig-installer
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/Pillar1989/wifidog-server

Package: seeed-wificonfig-installer
Architecture: all
Pre-Depends: bone101, nodejs (>= 0.12.17), connman, dnsmasq, wifidog-gateway, bb-wl18xx-firmware
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: wificonfig installer for seeedstudio.com
 wificonfig is a tool for setting up wifi connections.

