[Unit]
Description=wifidog gateway Service

[Service]
Type=simple
ExecStart=/usr/bin/wifidog_server
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
