[Unit]
Description=wifidog gateway Service
After=bb-wl18xx-tether.service

[Service]
Type=simple
ExecStart=/usr/bin/wifidog_server
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
