#!/usr/bin/make -f
%:
	dh $@ --with=quilt,autoreconf --parallel

override_dh_auto_configure:
	dh_auto_configure -- --disable-silent-rules

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
