[Unit]
Description=BB WL18xx tether Service
After=bb-wl18xx-wlan0.service

[Service]
ExecStart=/usr/bin/bb-wl18xx-tether
Type=forking

[Install]
WantedBy=multi-user.target

