SUBSYSTEM=="net", KERNEL=="SoftAp0", DRIVERS=="wl18xx_driver", TAG+="systemd", ENV{SYSTEMD_WANTS}="hostapd@SoftAp0.service"
SUBSYSTEM=="net", KERNEL=="SoftAp0", DRIVERS=="brcmfmac", TAG+="systemd", ENV{SYSTEMD_WANTS}="hostapd@SoftAp0.service"
