Source: rwmem
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , cmake
 , dh-python
 , meson
 , libfmt-dev
 , libinih-dev
 , pkg-config
 , python3-dev
 , python3-pybind11
Standards-Version: 4.5.1
Homepage: https://github.com/tomba/rwmem

Package: rwmem
Architecture: armhf
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
 , ${python3:Depends}
Description: rwmem - A small tool to read & write device registers
 rwmem - A small tool to read & write device registers
