Source: c9-core-installer
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/rcn-ee/bb.org-cloud9-core


Package: c9-core-installer
Replaces: cloud9-installer
Architecture: armhf
Pre-Depends: bone101, bonescript, ca-certificates, nodejs (>= 8.9.1), tmux, python
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: c9-core-installer
 c9-core-installer for beagleboard.org

