#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel --with autoreconf --buildsystem=autoconf

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_test:
	- dh_auto_test

