[Unit]
Description=BeagleBoard Set up system configuration
Before=ssh.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/bbbio-set-sysconf
StandardOutput=journal+console

[Install]
RequiredBy=basic.target
