Source: dsptop
Section: partner/admin
Priority: extra
Maintainer: TI Keystone PPA <ti-keystone-ppa@list.ti.com>
Build-Depends: debhelper (>= 9), 
               libncurses5-dev (>= 5.9),
               ti-c6000-cgt-v8.1.x-installer
Standards-Version: 3.9.6

Package: dsptop
Architecture: armhf
Depends: ${shlibs:Depends}, 
         ${misc:Depends}, 
         libncurses5-dev (>= 5.9), 
Recommends: gnuplot (>= 4.6),
	    gnuplot-x11 (>= 4.6)	
Description: TI Keystone dsptop utility.
 TI dsptop utility for Keystone devices.

Package: libtiulm-dev
Section: partner/libdevel
Architecture: armhf
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: TI Keystone ulm library for ARM and DSP.
 TI DSP/ARM ulm library for Keystone devices.

