Source: am335x-pru-package
Section: misc
Priority: extra
Maintainer: Vagrant Cascadian <vagrant@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/beagleboard/am335x_pru_package
#Vcs-Git: git://git.debian.org/collab-maint/am335x-pru-package.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/am335x-pru-package.git;a=summary

Package: am335x-pru-package
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AM335x PRU PACKAGE
 AM335x PRU PACKAGE
