Source: ti-pru-cgt-v2.3
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9),
 , lsb-release
 , wget
Standards-Version: 4.5.1
Homepage: https://www.ti.com/tool/download/PRU-CGT-2-3

Package: ti-pru-cgt-v2.3
Replaces: ti-pru-cgt-installer
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI PRU C/C++ CODE GENERATION TOOLS
 TI PRU C/C++ CODE GENERATION TOOLS
