Source: tiomapconf
Section: debug
Priority: extra
Maintainer: Nishanth Menon <nm@ti.com>
Build-Depends: debhelper (>= 7), cdbs, quilt
Standards-Version: 3.9.1
Vcs-Git: git://gitorious.org/ubuntu-omap/omapconf.git
Homepage: https://github.com/omapconf/omapconf

Package: tiomapconf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI omapconf debug utility
 tiomapconf is a utility that can be used on OMAP platforms to get visibility
 inside the OMAP configuration.
