Source: cmem-mod-dkms
Section: admin
Priority: extra
Maintainer: TI Keystone PPA <ti-keystone-ppa@list.ti.com>
Build-Depends: debhelper (>= 7), dkms
Standards-Version: 3.8.1

Package: cmem-mod-dkms
Architecture: all
Depends: dkms (>= 1.95), linux-headers, ${misc:Depends}
Description: cmem-mod driver in DKMS format.
