Source: pru-software-support-package
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8


Package: pru-software-support-package
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI pru-software-support-package for pru
 TI pru-software-support-package for pru am335x/am4x/am5x
