Source: ti-tidl
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9),
	ti-opencl,
	firmware-am57xx-opencl-monitor,
	libboost-dev,
	libopencv-core-dev,
	libopencv-imgproc-dev,
	libopencv-highgui-dev,
	libjson-c-dev,
	pybind11-dev,
	libpython3.5-dev,
Standards-Version: 3.9.8

Package: ti-tidl
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI Deep Learning (TIDL) API
 TIDL API brings Deep Learning to the edge and enables Linux applications to 
 leverage TI’s proprietary CNN/DNN implementation on EVEs and C66x DSPs in 
 AM57x SoCs.
