Source: ti-llvm-3.3
Section: partner/misc
Priority: extra
Maintainer: TI Keystone PPA <ti-keystone-ppa@list.ti.com>
Build-Depends: debhelper (>= 9), 
               binutils-dev,
               libffi-dev,
               pkg-config,
               check,
               python
Standards-Version: 3.9.5

Package: ti-llvm-3.3
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: armhf
Description: llvm-3.3 with support for TI c66x intrinsics.
  This package contains the llvm-3.3 source code modified to 
  support the TI c66x compiler's intrinsics.

