#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

DEB_BUILD_OPTIONS=noautodbgsym

# Since pru-gcc is packaged with --prefix=/usr/lib, we must follow suit.

%:
	dh $@ \
		--host=pru \
		--prefix=/usr/lib \
		--with autoreconf \


# dh_make generated override targets
override_dh_auto_configure:
	dh_auto_configure -- --host=pru --prefix=/usr/lib

