#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh ${@} --paralell --with autoreconf


override_dh_autoreconf:
	dh_autoreconf ./autogen.sh --as-needed

override_dh_auto_configure:
	dh_auto_configure -- --enable-man --disable-silent-rules --enable-dbus

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/lxappearance

override_dh_auto_test:
	# disabled: test fails in po directory

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=lxappearance-dbg

maintainer-clean:
	$(RM) -r $$(ls|grep -v debian)
	$(RM) -r .pc
	$(RM) -r .xyz
	dh_clean
	dh_autoreconf_clean 

get-orig-source:maintainer-clean
	git clone git://git.lxde.org/git/lxde/lxappearance.git .xyz; \
	cd .xyz; \
	cp -a $$(ls | grep -v debian) ..; \
	echo ""; \
	git log --max-count=1 | head; \
	echo ""; \

