Source: gdbserver-c6x
Section: partner/devel
Priority: extra
Maintainer: TI Keystone PPA <ti-keystone-ppa@list.ti.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: gdbserver-c6x
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI gdb-server for Keystone 2 devices.
 TI gdb-server to be used with c6xgdb for Keystone 2 devices.
