Source: dce
Section: libs
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), pkg-config (>= 0.11.0),
               libtool, dh-autoreconf, quilt,
               libdrm-dev,
               libxext-dev,
               libxfixes-dev,
               xserver-xorg-dev,
               ti-ipc-dra7xx-dev
Standards-Version: 3.9.6
Homepage: http://omapzoom.org/?p=repo/libdce.git;a=summary
Vcs-Git: git://git.omapzoom.org/repo/libdce.git

Package: libdce1
Section: libs
Architecture: armhf
Depends: ${shlibs:Depends},
         ${misc:Depends}
Replaces:  libdce0
Conflicts: libdce0
Description: AM57xx DCE library
 A library to remotely invoke the HW accellerated codecs on IVA-HD
 via a syslink/rcm shim layer.

Package: libdce-dev
Section: libdevel
Architecture: armhf
Depends: ${shlibs:Depends},
         ${misc:Depends},
         pkg-config,
	 libdce1 (= ${binary:Version})
Description: AM57xx DCE development files.
 Contains all the necessary header files and libs.
