Source: bb-beaglebone-io-installer
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/rcn-ee/repos

Package: bb-beaglebone-io-installer
Architecture: armhf
Pre-Depends: nodejs (>= 6.14.0), bb-johnny-five-installer
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BeagleBone Black IO Plugin for Johnny-Five
 BeagleBone-IO Johnny-Five IO Plugin for the BeagleBone Black and PocketBeagle.

