Source: npm
Section: web
Priority: extra
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Jérémy Lal <kapouer@melix.org>,
 Jonas Smedegaard <dr@jones.dk>
Build-Depends: cdbs,
 debhelper,
 dh-buildinfo,
 bash-completion,
 nodejs,
 node-glob,
 ruby-ronn,
 node-marked
Standards-Version: 3.9.5
Homepage: http://github.com/isaacs/npm
Vcs-Git: git://anonscm.debian.org/pkg-javascript/npm.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-javascript/npm.git

Package: npm
Architecture: all
Depends: nodejs,
 ${misc:Depends},
 node-abbrev (>= 1.0.4),
 node-ansi (>= 0.3.0-2),
 node-ansi-color-table,
 node-archy,
 node-block-stream,
 node-fstream (>= 0.1.22),
 node-fstream-ignore,
 node-github-url-from-git,
 node-glob (>= 3.1.21),
 node-graceful-fs (>= 2.0.0),
 node-inherits,
 node-ini (>= 1.1.0),
 node-lockfile,
 node-lru-cache (>= 2.3.0),
 node-minimatch (>= 0.2.11),
 node-mkdirp (>= 0.3.3),
 node-gyp (>= 0.10.9),
 node-nopt (>= 3.0.1),
 node-npmlog,
 node-once,
 node-osenv,
 node-read,
 node-read-package-json (>= 1.1.0),
 node-request (>= 2.25.0),
 node-retry,
 node-rimraf (>= 2.2.2),
 node-semver (>= 2.1.0),
 node-sha,
 node-slide,
 node-tar (>= 0.1.18),
 node-underscore,
 node-which
Description: package manager for Node.js
 Node.js is an event-based server-side javascript engine.
 .
 npm is the package manager for the Node JavaScript platform.  It puts
 modules in place so that node can find them, and manages dependency
 conflicts intelligently.
 .
 It is extremely configurable to support a wide variety of use cases.
 Most commonly, it is used to publish, discover, install, and develop
 node programs.
