Source: ti-devmem2
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:  debhelper (>= 9),
Standards-Version: 4.5.1
Homepage: https://github.com/rcn-ee/devmem2

Package: ti-devmem2
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: beagleboard.org ti devmem2
 beagleboard.org ti devmem2 for beagleboard devices
