Source: bbb.io-keyring
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: bbb.io-keyring
Architecture: all
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
Description: beagleboard.org keyring
 beagleboard.org keyring for beagleboard devices
