#!/bin/sh 
#jinstall - Command line script to easily add new java directories to
#'alternatives'. This sets the java as default, and you can switch your
#default java with update-java-alternatives
#
#Copyright 2012 Bruce.Ingalls at gmail & Alin Andrei <webupd8@gmail.com>
#GPL v3 Affero license at http://www.gnu.org/
#Downloads & discussion at http://www.webupd8.org/
#Tested on Ubuntu Oneiric; should require few changes for other modern Unix systems
#Currently tested only with JDK, not JRE.
# Not fully internationalized, including japanese man pages

set -e

VER='0.6alpha'

case $(dpkg --print-architecture) in
'i386'|'i586'|'i686') arch=i386; dld=i586;
  SHA256SUM_TGZ="dc17ea93f852882ad0a7037b80f8c317861d58f5fffe32d95063db35eb189b72" #must be modified for each release
  ;; 
'amd64'  ) arch=amd64; dld=x64;
  SHA256SUM_TGZ="1748127e70b1eea661d3cf8025e889f50ece59e4774f4e8df4f6f0ee19b15ea3" #must be modified for each release 
  ;; 
 arm*      )
  arch=arm
	if [ `uname -m` = "armv7l" ] || [ `uname -m` = "armv6l" ]; then
		if [ -x /usr/bin/readelf ] ; then
			HARDFLOAT=`readelf -A /proc/self/exe | grep Tag_ABI_VFP_args`
			if [ -z "$HARDFLOAT" ]; then
				# Softfloat
				echo "Oracle Java 9 only supports ARM v6/v7 hardfloat ABI."
				#dld='arm-vfp-sflt'
				#SHA256SUM_TGZ="5026a8f2eea8d350ea6ed7cfb8496b571ec9c1e43db82750a3ca8dc02569076e"
			else
				# Hardfloat
				dld='arm-vfp-hflt'
				SHA256SUM_TGZ="fd962a0fb80ab10d46cce9cacc1f3e59d630ae08c16d180a8fca12c7a84f4175" #must be modified for each release
			fi
		fi
	elif [ `uname -m` = "armv8l" ] || [ `uname -m` = "arm64" ] || [ `uname -m` = "aarch64" ]; then
				dld='arm64'
				SHA256SUM_TGZ="e8c072367b71d23f89b9e8c305839d3c568d53717d3706e8cc17628ae107e510" #must be modified for each release
  else
		echo "Oracle JDK9 only supports ARM v6/v7 hardfloat and ARM64."
		arch=''
	fi
	;;
*         )
    echo "Please report to author unsupported platform '`uname -m`'.";
    echo "Proceeding without web browser plugin support";
    arch='';
esac


########Variables

if [ ! $arch = "arm" ]; then
	JAVA_VERSION_MAJOR=9 #
	JAVA_VERSION_MINOR=b81 #must be modified for each release
	JAVA_VERSION_DATE="09_sep_2015" #must be modified for each release
	J_DIR=jdk1.9.0 #must be modified for each release
	FILENAME=jdk-${JAVA_VERSION_MAJOR}-ea-bin-${JAVA_VERSION_MINOR}-linux-${dld}-${JAVA_VERSION_DATE}.tar.gz # jdk-9-ea-bin-b50-linux-i586-11_feb_2015.tar.gz
	PARTNER_URL=http://www.java.net/download/jdk${JAVA_VERSION_MAJOR}/archive/${JAVA_VERSION_MINOR}/binaries/$FILENAME
	for JAVA_VERSION_OLD2 in `seq 48 80`; do #must be modified for each release
	   FILENAMES_OLD2="jdk-${JAVA_VERSION_MAJOR}-ea-bin-b${JAVA_VERSION_OLD2}-linux*.tar.gz $FILENAMES_OLD2"
	done
else
	JAVA_VERSION_MAJOR=9 #
	JAVA_VERSION_MINOR=b81 #must be modified for each release
	JAVA_VERSION_DATE="09_sep_2015" #must be modified for each release
	J_DIR=jdk1.9.0 #must be modified for each release
	FILENAME=jdk-${JAVA_VERSION_MAJOR}-ea-bin-${JAVA_VERSION_MINOR}-linux-${dld}-${JAVA_VERSION_DATE}.tar.gz # jdk-9-ea-bin-b50-linux-i586-11_feb_2015.tar.gz
	PARTNER_URL=http://www.java.net/download/jdk${JAVA_VERSION_MAJOR}/archive/${JAVA_VERSION_MINOR}/binaries/$FILENAME
	for JAVA_VERSION_OLD1 in `seq 48 80`; do #must be modified for each release
	   FILENAMES_OLD2="jdk-${JAVA_VERSION_MAJOR}-ea-bin-b${JAVA_VERSION_OLD2}-linux*.tar.gz $FILENAMES_OLD2"
	done
fi

J_INSTALL_DIR=/usr/lib/jvm/java-9-oracle

. /usr/share/debconf/confmodule

db_get oracle-java9-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set oracle-java9-installer/local /var/cache/oracle-jdk8-installer

db_get oracle-java9-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set oracle-java9-installer/local /usr/lib/oracle-jdk8-installer-unpackdir

db_get oracle-java9-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_reset oracle-java9-installer/local 

while true; do
    db_input medium oracle-java9-installer/local || true
    db_go
    db_get oracle-java9-installer/local
    if [ -d "$RET" -a -f "$RET"/$FILENAME ]; then
		LOCAL="true"
		break;
    elif [ "x$RET" = "x" ]; then
		break;
    fi
    db_reset oracle-java9-installer/not_exist || true
    db_reset oracle-java9-installer/local || true
    db_text medium oracle-java9-installer/not_exist || true
    db_go
done

exit 0
