#!/usr/bin/make -f

override_dh_auto_configure:
	dh_auto_configure -- --target=tic6x-elf-tirtos --program-suffix=c6x --without-libexpat-prefix

override_dh_auto_test:

override_dh_auto_install:
	# Run auto_install then remove files that conflict with regular gdb.
	dh_auto_install
	rm -rf debian/gdbc6x/usr/share
	rm -rf debian/gdbc6x/usr/include

%:
	dh $@ -Bbuild
