Source: bbx15-ducati-firmware-installer
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/rcn-ee/repos/tree/master/bbx15-ducati-firmware-installer


Package: bbx15-ducati-firmware-installer
Architecture: all
Pre-Depends: ca-certificates, wget
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: bbx15-ducati-firmware-installer
 bbx15-ducati-firmware-installer

