Source: upm
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Priority: optional
Build-Depends: cmake (>= 3.0.2),
               debhelper (>= 9),
               pkg-config,
               libmraa0,
               swig3.0,
               python-dev,
               nodejs
Standards-Version: 3.9.6
Vcs-Browser: https://github.com/Pillar1989/upm/tree/BBGW
Vcs-Git: https://github.com/Pillar1989/upm -b BBGW
Homepage: https://github.com/Pillar1989/upm/tree/BBGW

Package: upm
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libmraa0
Pre-Depends: ${misc:Pre-Depends}
Description: UPM for MRAA
 UPM (Useful Packages & Modules) is a high level repository for sensors that use MRAA.
