Source: ardupilot-copter-bbbmini
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
	debhelper (>= 9),
	git,
	pkg-config,
	python-future,
	python-lxml,
	libiio-dev,
Standards-Version: 3.9.8

Package: ardupilot-copter-bbbmini
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ardupilot copter bbbmini
 The ArduPilot project, copter build for bbbmini
