Source: lxqt-admin
Section: x11
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends:
 cmake,
 debhelper (>= 9),
 liboobs-1-dev,
 libx11-dev,
 pkg-config,
 liblxqt-qt5-0-dev (>= 0.8.0),
 libqt5x11extras5-dev (>= 5.3.2),
 libqt5xdg-dev (>= 1.0.0),
 qttools5-dev (>= 5.3.2),
 qttools5-dev-tools (>= 5.3.2),
Standards-Version: 3.9.6
Homepage: https://github.com/lxde/lxqt-admin
#Vcs-Git: git://anonscm.debian.org/collab-maint/lxqt-admin.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/lxqt-admin.git;a=summary

Package: lxqt-admin-qt5
Architecture: any
Breaks:
 lxqt-admin,
Replaces:
 lxqt-admin,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Admin tools for LXQt
 Admin tools for LXQt, as of now:
 * lxqt-admin-time
 * lxqt-admin-user
 .
 This package contain the LXQt Admin Tools.

Package: lxqt-admin-qt5-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
 ${misc:Depends},
 lxqt-admin-qt5 (= ${binary:Version}),
Description: Admin tools for LXQt (debug)
 Admin tools for LXQt, as of now:
 * lxqt-admin-time
 * lxqt-admin-user
 .
 This package provides the debugging symbols.
