#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_BUILD_OPTIONS=noautodbgsym

#AF_RPMSG
#https://git.ti.com/gitweb?p=ipc/ipcdev.git;a=blob;f=linux/include/net/rpmsg.h;hb=HEAD#l60

confflags=--prefix=/usr \
          PLATFORM=DRA7XX \
          AF_RPMSG=44 \
          KERNEL_INSTALL_DIR=/usr/src/rpmsg-rpc-4.1

%:
	dh $@ --with autoreconf

export EXTRA_LIB=-lpthread

override_dh_auto_configure:
	./configure $(confflags)

override_dh_strip:
	dh_strip --dbg-package=ti-ipc-dra7xx-dbg
