#!/usr/bin/make -f
#export DH_VERBOSE=1

DEB_BUILD_OPTIONS=noautodbgsym

###boards:
#board=bbbmini
board=blue
#board=pocket

###targets:
#target=copter
#target=plane
target=rover

###version:
ver=3.4

%:
	dh $@

override_dh_auto_configure:
	./waf configure --board=$(board) --no-submodule-update

override_dh_auto_build:
	./waf $(target)
	mv ./build/$(board)/bin/ardu$(target) ./build/$(board)/bin/$(board)-$(ver)-ardu$(target)
