Source: board-firmware
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: board-firmware
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: board firmware
 board firmware for embedded devices

