Source: gcp-iot-demo
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/rcn-ee/repos

Package: gcp-iot-demo
Architecture: all
Pre-Depends: nodejs (>= 0.12.17)
Depends: ${shlibs:Depends}, ${misc:Depends}, upm
Description: IoT developer kit icebreaker
 IoT developer kit icebreaker

