[Service]
WorkingDirectory=/usr/local/lib/node_modules/gcp-iot-demo/
ExecStart=/usr/bin/nodejs index.js
StandardOutput=syslog
User=root
Group=root
Environment=NODE_ENV=production
Environment=NODE_PATH=/usr/lib/nodejs:/usr/lib/node_modules:/usr/local/lib/node_modules/
SyslogIdentifier=gcp-iot-demo

