Source: firmware-am57xx-opencl-monitor
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6


Package: firmware-am57xx-opencl-monitor
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: firmware-opencl-monitor version
 TI OpenCL compute device firmware

