#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Disable dh_link
override_dh_link:

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

# Disable dh_shlibdeps
override_dh_shlibdeps:

override_dh_auto_configure:
	mkdir -p ./tmp/opt/bb-code-server/app/
	tar xf debian/code-server-*-linux-*.tar.gz -C ./tmp/opt/bb-code-server/app/ --strip-components 1

%:
	dh $@ --with systemd

override_dh_builddeb:
	dh_builddeb -- -Zxz
