[Unit]
Description=Bonescript autorun
ConditionPathExists=|/var/lib/cloud9

[Service]
WorkingDirectory=/usr/local/lib/node_modules/bonescript
EnvironmentFile=/etc/default/node
ExecStart=/usr/bin/nodejs-v0.10.x autorun.js
SyslogIdentifier=bonescript-autorun

[Install]
WantedBy=multi-user.target
