Source: bb-bonescript-installer-latest
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/rcn-ee/repos

Package: bb-bonescript-installer-latest
Architecture: all
Pre-Depends: nodejs, nodejs-legacy, npm, bb-npm-installer
Breaks: bb-bonescript-installer-beta
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BoneScript installer for beagleboard.org
 BoneScript is a node.js library for physical computing on embedded Linux, starting with support for BeagleBone.

