Source: lxqt-power
Section: x11
Priority: optional
Standards-Version: 3.9.5
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 cmake,
 debhelper (>= 9),
 liblxqt0-dev (>= 0.7.0),
 libqt4-dev (>= 4.8.0),
 libqtxdg0-dev (>= 0.6.99),
 libx11-dev,
 pkg-config,
Homepage: http://lxde.org/
Vcs-Browser: http://git.siduction.org/?p=code/lxqt-power.git
Vcs-Git: git://git.siduction.org/code/lxqt-power.git

Package: lxqt-power
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Power switch  for LXQT
 Some stupid filling text.
 Some more stupid filling text.
 .
 This package contain the LXDE-qt power switch.

Package: lxqt-power-dbg
Architecture: any
Section: debug
Priority:extra
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 lxqt-power (= ${binary:Version}),
Description: Power switch  for LXQT
 Some stupid filling text.
 Some more stupid filling text.
 .
 This package contain the LXDE-qt power switch.

