#!/usr/bin/make -f

export DH_VERBOSE=1
#export USE_QT5=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

#export DEB_BUILD_MAINT_OPTIONS   := hardening=+all
export DEB_LDFLAGS_MAINT_APPEND  := -Wl,--as-needed
# CMake doesn't use CPPFLAGS, pass them to CFLAGS/CXXFLAGS instead (bug #662833)
export DEB_CFLAGS_MAINT_APPEND   := -pipe -Wall $(shell dpkg-buildflags --get CPPFLAGS)
export DEB_CXXFLAGS_MAINT_APPEND := -pipe -Wall $(shell dpkg-buildflags --get CPPFLAGS)


%:
	dh ${@} --buildsystem cmake --parallel


override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/lxqt-power

override_dh_install:
	dh_install --list-missing --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Debug

override_dh_strip:
	dh_strip --dbg-package=lxqt-power-dbg


maintainer-clean:
	$(RM) -r $$(ls | grep -v debian )
	$(RM) -r .pc
	$(RM) -r .xyz
	dh_clean

get-orig-source: maintainer-clean
	git clone git://git.lxde.org/git/lxde/lxqt-power.git .xyz; \
	cd .xyz; \
	cp -a $$(ls|grep -v debian) ..; \
	echo "";\
	git log --max-count=1 | head; \
	echo ""; \

