[Desktop Entry]
Version=1.12
Type=Application
Name=ts_test_mt
Comment=Test your touchscreen tslib configuration
TryExec=ts_test_mt
Exec=ts_test_mt
Categories=Utility
Keywords=touchscreen
