Source: bb-customizations
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6


Package: bb-customizations
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: beagleboard.org customizations
 beagleboard.org customizations

