[Unit]
Description=Run USB gadgets
After=usb-gadget.target
ConditionFileIsExecutable=/usr/bin/run-bb-usb-gadgets

[Service]
Type=oneshot
ExecStart=/usr/bin/run-bb-usb-gadgets

[Install]
WantedBy=multi-user.target
