Source: bb-usb-gadgets
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.1

Package: bb-usb-gadgets
Architecture: all
Pre-Depends: gt, libusbgx, umtp-responder
Depends: ${shlibs:Depends}, ${misc:Depends}, bc, systemd (>= 230)
Description: usb gadget customizations
 usb gadget customizations

