[Unit]
Description=Grow Root Partition
Before=ssh.service
ConditionFileIsExecutable=/usr/bin/bb-growpart

[Service]
Type=oneshot
ExecStart=/usr/bin/bb-growpart
ExecStartPost=/bin/systemctl enable resize_filesystem
ExecStartPost=/bin/systemctl disable grow_partition

[Install]
WantedBy=multi-user.target
