Source: gdbproxy-mod-dkms
Section: partner/devel
Priority: optional
Maintainer: TI Keystone PPA <ti-keystone-ppa@list.ti.com>
Build-Depends: debhelper (>= 9), 
               dkms
Standards-Version: 3.9.6

Package: gdbproxy-mod-dkms
Architecture: all
Multi-Arch: foreign
Depends: dkms (>= 1.95), ${misc:Depends}
Description: gdbproxy-mod driver in DKMS format.
	TI gdbproxy-mod driver in DKMS format.
