Source: libdce
Section: libs
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Priority: extra
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               pkg-config,
               ti-ipc-dra7xx-dev
Standards-Version: 3.9.6
Homepage: http://omapzoom.org/?p=repo/libdce.git;a=summary
Vcs-Browser: http://omapzoom.org/?p=repo/libdce.git;a=summary
Vcs-Git: git://git.omapzoom.org/repo/libdce.git

Package: libdce1
Section: libs
Architecture: armhf
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: TI DCE library
 A library to remotely invoke the HW accellerated codecs on IVA-HD
 via a syslink/rcm shim layer.

Package: libdce-dev
Architecture: armhf
Section: libdevel
Depends: ${misc:Depends},
         pkg-config,
         libdce1 (= ${binary:Version})
Description: TI DCE library development files
  Contains all the necessary header files and libs.
