#From: https://github.com/node-red/linux-installers/blob/master/resources/nodered.socket

[Unit]
Description=Node-RED Socket
PartOf=node-red.service

[Socket]
ListenStream=1880

[Install]
WantedBy=sockets.target
