Source: mjpg-streamer
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
	cmake (>= 3.0.2),
	debhelper (>= 9),
	libjpeg62-turbo-dev,
	libv4l-dev,
Standards-Version: 3.9.8

Package: mjpg-streamer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mjpg streamer application
 mjpg-streamer is a command line application that copies JPEG frames
 from one or more input plugins to multiple output plugins. It can be
 used to stream JPEG files over an IP-based network from a webcam to
 various types of viewers such as Chrome, Firefox, Cambozola, VLC,
 mplayer, and other software capable of receiving MJPG streams.

