Source: node-normalize-package-data
Section: web
Priority: extra
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Jérémy Lal <kapouer@melix.org>
Build-Depends:
 debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/meryn/normalize-package-data
Vcs-Git: git://anonscm.debian.org/collab-maint/node-normalize-package-data.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/node-normalize-package-data.git

Package: node-normalize-package-data
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-github-url-from-git
 , node-semver (>= 2)
Description: Normalizes package metadata - Node.js module
 This module is used by node-read-package-json to normalize data it
 reads from a package.json file typically found in Node.js modules,
 but in principle it could come from any source.
 .
 Node.js is an event-based server-side javascript engine.
