Source: ti-pru-software
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.1
Homepage: https://git.ti.com/gitweb?p=pru-software-support-package/pru-software-support-package.git;a=summary

Replaces: pru-software-support-package
Package: ti-pru-software
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The PRU Software Support Package
 The PRU Software Support Package
