Source: pcmanfm-qt
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders: Alf Gaida <agaida@siduction.org>,
           ChangZhuo Chen (陳昌倬) <czchen@debian.org>,
           Andrew Lee (李健秋) <ajqlee@debian.org>,
           Shih-Yuan Lee (FourDollars) <fourdollars@gmail.com>
Section: x11
Priority: optional
Build-Depends: cmake (>= 3.0.2),
               debhelper (>= 9),
               libfm-dev (>= 1.2.0),
               libglib2.0-dev,
               liblxqt0-dev (>= 0.10.0),
               libmenu-cache-dev,
               libqt5x11extras5-dev,
               libqt5xdg-dev (>= 1.3.0),
               libx11-dev,
               pkg-config,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-lxqt/pcmanfm-qt
Vcs-Git: git://anonscm.debian.org/pkg-lxqt/pcmanfm-qt.git
Homepage: https://github.com/lxde/pcmanfm-qt

Package: pcmanfm-qt
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libfm-modules
Recommends: gvfs-backends,
            lxqt-sudo | gksu
Description: extremely fast and lightweight file and desktop icon manager
 PCManFM-Qt is the Qt port of the LXDE file manager PCManFM.
 .
 Libfm-Qt is a companion library providing components to build desktop file
 managers.

Package: pcmanfm-qt-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends},
         pcmanfm-qt (= ${binary:Version})
Description: extremely fast and lightweight file and desktop icon manager (debug)
 PCManFM-Qt is the Qt port of the LXDE file manager PCManFM.
 .
 Libfm-Qt is a companion library providing components to build desktop file
 managers.
 .
 This package contains debug symbols for PCManFM-Qt.

Package: libfm-qt5-2
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: file management support for pcmanfm-qt
 PCManFM-Qt is the Qt port of the LXDE file manager PCManFM.
 .
 Libfm-Qt is a companion library providing components to build desktop file
 managers.
 .
 This package contains helper library libfm-qt for pcmanfm-qt.

Package: libfm-qt5-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libfm-qt5-2 (= ${binary:Version})
Description: file management support for pcmanfm-qt (core development files)
 PCMan File Manager Qt (PCManFM-Qt) is an extremly fast, lightweight, yet
 feature-rich file manager with tabbed browsing. It is the default file
 manager for the lightweight desktop environment, LXQt.
 .
 This package contains development files for helper library libfm-qt for
 pcmanfm-qt.

Package: libfm-qt5-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libfm-qt5-2 (= ${binary:Version})
Description: file management support for pcmanfm-qt (libfm-qt5 debug)
 PCMan File Manager Qt (PCManFM-Qt) is an extremly fast, lightweight, yet
 feature-rich file manager with tabbed browsing. It is the default file
 manager for the lightweight desktop environment, LXQt.
 .
 This package contains debugging symbols for the shared libs.
