#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

branch=v2021.01-bb.org-am335x-am57xx
config=am57xx_evm_defconfig

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	git clone -b $(branch) https://github.com/beagleboard/u-boot --depth=1
	cd ./u-boot/ ; 	make ARCH=arm CROSS_COMPILE= distclean ; make ARCH=arm CROSS_COMPILE= $(config) ; make ARCH=arm CROSS_COMPILE=

%:
	dh $@

